# JohnMcL's Machine Learning

# DublinBikes ADT
- Included the process for producing the ADT
- It's saved as a csv called __DbDynamicInfo.csv__
- So you can just import it as a dataframe if needed
- Only issue going forward is the amount of time it takes to add weather info to the dynamic info
- While not unsolvable, it may present an issue in the future as our data set grows
- If the ADT csv is updated, be prepared to wait 5-10 mins, maybe more for this process to complete
- If we can get merge_asof working in pandas instead, this would probably be faster
- However, there are issues with this approach where after the length of the weatherinfo table is passed, only the last row of the weather info table is used to update the dynamic info table
- Also, at the moment, only the station number is present in the ADT but this can be solved by pulling in info from static info and performing a merge on number if needs be

## All code before linear regression to do with cleaning and prep of data
## For machine learning just need to read in NewDbADT.csv
[Linear Regression Start](#linreg)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from patsy import dmatrices
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score 
from sklearn.utils import shuffle

- Get info from sql database
- Save info to csv to work with
- Uncomment these lines to update csv
- Note: DynamicInfo takes a while to get

In [3]:
"""
database = "mysql+pymysql://jmcl:Jm30079!@dbbikes.ca8jj5ksuurt.eu-west-1.rds.amazonaws.com:3306/dbbikes"
dfStaticInfo = pd.read_sql_table("DbStaticInfo", database)
dfDynamicInfo = pd.read_sql_table("DbDynamicInfo", database)
dfWeatherInfo = pd.read_sql_table("weather", database)
dfStaticInfo.to_csv("StaticInfoWorkData.csv")
dfDynamicInfo.to_csv("DynamicInfoWorkData.csv")
dfWeatherInfo.to_csv("WeatherWorkData.csv")
"""

'\ndatabase = "mysql+pymysql://jmcl:Jm30079!@dbbikes.ca8jj5ksuurt.eu-west-1.rds.amazonaws.com:3306/dbbikes"\ndfStaticInfo = pd.read_sql_table("DbStaticInfo", database)\ndfDynamicInfo = pd.read_sql_table("DbDynamicInfo", database)\ndfWeatherInfo = pd.read_sql_table("weather", database)\ndfStaticInfo.to_csv("StaticInfoWorkData.csv")\ndfDynamicInfo.to_csv("DynamicInfoWorkData.csv")\ndfWeatherInfo.to_csv("WeatherWorkData.csv")\n'

- Read DynamicInfo in from csv file

In [8]:
dfDynamicInfo = pd.read_csv("DynamicInfoWorkData.csv")

## DbDynamicInfo Work

- Check starting number and end number per 113 rows
- Starts with 42, ends with 88

In [9]:
dfDynamicInfo.shape

(1094292, 7)

In [10]:
dfDynamicInfo.head(113)

,Unnamed: 0,id,number,status,available_bike_stands,available_bikes,last_update
0,0,1,42,OPEN,16,14,2019-02-19 19:04:44
1,1,2,30,OPEN,16,4,2019-02-19 19:00:54
2,2,3,54,OPEN,31,2,2019-02-19 19:03:18
3,3,4,108,OPEN,24,15,2019-02-19 18:57:17
4,4,5,56,OPEN,40,0,2019-02-19 19:00:15
5,5,6,6,OPEN,11,9,2019-02-19 19:01:05
6,6,7,18,OPEN,16,14,2019-02-19 19:03:05
7,7,8,32,OPEN,9,21,2019-02-19 18:58:33
8,8,9,52,OPEN,32,0,2019-02-19 18:57:15
9,9,10,48,OPEN,35,5,2019-02-19 19:02:47
10,10,11,13,OPEN,30,0,2019-02-19 19:00:29
11,11,12,43,OPEN,15,15,2019-02-19 19:03:17
12,12,13,81,OPEN,23,17,2019-02-19 19:03:55
13,13,14,31,OPEN,14,5,2019-02-19 19:04:34
14,14,15,98,OPEN,40,0,2019-02-19 19:01:57
15,15,16,14,OPEN,6,24,2019-02-19 19:04:29
16,16,17,23,OPEN,9,21,2019-02-19 19:03:52
17,17,18,106,OPEN,35,5,2019-02-19 18:59:33
18,18,19,112,OPEN,6,24,2019-02-19 19:02:26
19,19,20,68,OPEN,38,2,2019-02-19 19:04:32
20,20,21,74,OPEN,7,23,2019-02-19 19:04:58
21,21,22,87,OPEN,9,29,2019-02-19 19:01:44
22,22,23,84,OPEN,9,21,2019-02-19 19:01:12
23,23,24,90,OPEN,39,1,2019-02-19 19:01:07
24,24,25,11,OPEN,29,1,2019-02-19 19:04:53
25,25,26,17,OPEN,20,0,2019-02-19 18:55:11
26,26,27,45,OPEN,18,12,2019-02-19 18:57:44
27,27,28,114,OPEN,40,0,2019-02-19 19:04:03
28,28,29,72,OPEN,18,13,2019-02-19 19:05:01
29,29,30,63,OPEN,32,3,2019-02-19 18:57:16
...,...,...,...,...,...,...,...
83,83,84,26,OPEN,16,4,2019-02-19 18:59:27
84,84,85,65,OPEN,39,1,2019-02-19 19:04:45
85,85,86,15,OPEN,16,0,2019-02-19 18:58:12
86,86,87,86,OPEN,1,37,2019-02-19 19:03:38
87,87,88,35,OPEN,25,4,2019-02-19 19:03:45
88,88,89,10,OPEN,1,15,2019-02-19 19:03:03
89,89,90,100,OPEN,4,21,2019-02-19 19:03:46
90,90,91,24,OPEN,14,6,2019-02-19 19:01:38
91,91,92,64,OPEN,16,24,2019-02-19 18:59:36
92,92,93,109,OPEN,7,22,2019-02-19 19:04:21
93,93,94,85,OPEN,19,16,2019-02-19 19:01:28
94,94,95,107,OPEN,37,3,2019-02-19 18:58:49
95,95,96,33,OPEN,7,16,2019-02-19 19:04:51
96,96,97,44,OPEN,16,14,2019-02-19 19:03:40
97,97,98,89,OPEN,32,8,2019-02-19 18:59:23
98,98,99,57,OPEN,23,0,2019-02-19 19:04:21
99,99,100,80,OPEN,7,33,2019-02-19 19:02:49
100,100,101,41,OPEN,20,0,2019-02-19 19:00:48
101,101,102,3,OPEN,19,1,2019-02-19 19:04:51
102,102,103,46,OPEN,12,7,2019-02-19 19:04:34
103,103,104,40,OPEN,19,2,2019-02-19 19:02:44
104,104,105,29,OPEN,27,2,2019-02-19 18:59:07
105,105,106,70,OPEN,23,4,2019-02-19 19:04:00
106,106,107,103,OPEN,40,0,2019-02-19 18:58:02
107,107,108,28,OPEN,28,2,2019-02-19 19:03:25
108,108,109,39,OPEN,15,5,2019-02-19 19:04:47
109,109,110,83,OPEN,15,25,2019-02-19 18:55:57
110,110,111,92,OPEN,0,40,2019-02-19 19:00:23
111,111,112,21,OPEN,14,16,2019-02-19 19:03:27
112,112,113,88,OPEN,12,18,2019-02-19 18:59:04

- Drop unnecessary columns
- Also drop available bike stands since we're going to represent available bikes as a percentage of total bikes

In [11]:
dfDynamicInfo.drop(["Unnamed: 0", "id", "status"], axis=1, inplace=True)

- Due to prior issues with recording timestamp, need to find where usefule time stamps begin
- Iterate through rows in steps of 113
- At each step, iterate over rows 1 by 1
- Compare last_updates, when timestamp is correct, the group of 113 rows should all have same timestamp
- Use boolean to check if target row reached
- breaks used because otherwise this takes forever

In [12]:
for i in range(0, 150000, 113):
    lastUpdateEqual = True
    for j in range(i, i+113-1):
        if dfDynamicInfo.iloc[j]["last_update"] != dfDynamicInfo.iloc[j+1]["last_update"]:
            lastUpdateEqual = False
            break
            
    if lastUpdateEqual:
        target = i
        break
    
target

103282

- Check that from before target, the timestamps are incorrect

In [13]:
dfDynamicInfo.iloc[target-113:target]

        number  available_bike_stands  available_bikes          last_update
103169      42                     15               15  2019-02-22 23:30:19
103170      30                     18                2  2019-02-22 23:21:49
103171      54                     31                2  2019-02-22 23:25:06
103172     108                     27               12  2019-02-22 23:23:36
103173      56                     38                2  2019-02-22 23:25:53
103174       6                     10                9  2019-02-22 23:24:26
103175      18                     23                7  2019-02-22 23:30:53
103176      32                      5               25  2019-02-22 23:26:08
103177      52                     31                1  2019-02-22 23:25:43
103178      48                     39                1  2019-02-22 23:27:19
103179      13                     29                1  2019-02-22 23:23:21
103180      43                      0               30  2019-02-22 23:26:12
103181      81                     31                9  2019-02-22 23:22:28
103182      31                      6               14  2019-02-22 23:27:44
103183      98                     17               23  2019-02-22 23:25:16
103184      14                      9               21  2019-02-22 23:25:43
103185      23                      4               26  2019-02-22 23:30:09
103186     106                     31                9  2019-02-22 23:23:39
103187     112                      8               22  2019-02-22 23:30:08
103188      68                     25               15  2019-02-22 23:30:01
103189      74                      2               28  2019-02-22 23:30:09
103190      87                     20               18  2019-02-22 23:28:01
103191      84                      0               30  2019-02-22 23:26:05
103192      90                     38                2  2019-02-22 23:26:26
103193      11                     30                0  2019-02-22 23:24:53
103194      17                     20                0  2019-02-22 23:23:55
103195      45                     20               10  2019-02-22 23:28:16
103196     114                     40                0  2019-02-22 23:22:31
103197      72                     14               17  2019-02-22 23:30:01
103198      63                     22               13  2019-02-22 23:21:47
...        ...                    ...              ...                  ...
103252      26                     16                4  2019-02-22 23:26:23
103253      65                     39                1  2019-02-22 23:25:23
103254      15                      9                7  2019-02-22 23:24:36
103255      86                      1               37  2019-02-22 23:29:37
103256      35                     25                5  2019-02-22 23:29:27
103257      10                      2               14  2019-02-22 23:27:58
103258     100                     10               15  2019-02-22 23:21:52
103259      24                      1               19  2019-02-22 23:28:09
103260      64                     21               19  2019-02-22 23:23:51
103261     109                      4               25  2019-02-22 23:27:04
103262      85                     16               19  2019-02-22 23:21:24
103263     107                     22               18  2019-02-22 23:30:56
103264      33                      1               22  2019-02-22 23:29:14
103265      44                     25                5  2019-02-22 23:28:07
103266      89                     38                2  2019-02-22 23:26:52
103267      57                     21                2  2019-02-22 23:23:13
103268      80                     12               28  2019-02-22 23:29:03
103269      41                     19                1  2019-02-22 23:30:26
103270       3                     10               10  2019-02-22 23:29:38
103271      46                     11                9  2019-02-22 23:27:46
103272      40                     19                2  2019-02-22 23:29:27
103273      29                      7               22  2019-02-22 23:28:36
103274      70                     21                7  2019-02-22 23:30:52
103275     103                     31                9  2019-02-22 23:24:39
103276      28                     19               11  2019-02-22 23:27:33
103277      39                     20                0  2019-02-22 23:22:17
103278      83                      2               38  2019-02-22 23:25:08
103279      92                      1               39  2019-02-22 23:26:16
103280      21                     25                5  2019-02-22 23:27:49
103281      88                     13               17  2019-02-22 23:22:06

[113 rows x 4 columns]

- Note that timestamp is different for each row
- Due to taking timestamp from api
- Started taking timestamp from machine instead
- Check that the 113 rows past target have same timestamp
- Also check that the number for the first row is 42 and the number for the last row is 88

In [14]:
dfDynamicInfo.iloc[target:].head(113)

        number  available_bike_stands  available_bikes          last_update
103282      42                     19               11  2019-02-23 23:05:30
103283      30                     16                4  2019-02-23 23:05:30
103284      54                     25                8  2019-02-23 23:05:30
103285     108                     20               19  2019-02-23 23:05:30
103286      56                     31                9  2019-02-23 23:05:30
103287       6                      1               19  2019-02-23 23:05:30
103288      18                     22                7  2019-02-23 23:05:30
103289      32                     26                4  2019-02-23 23:05:30
103290      52                      4               28  2019-02-23 23:05:30
103291      48                     35                5  2019-02-23 23:05:30
103292      13                     28                2  2019-02-23 23:05:30
103293      43                     17               13  2019-02-23 23:05:30
103294      81                     36                4  2019-02-23 23:05:30
103295      31                     15                5  2019-02-23 23:05:30
103296      98                     30               10  2019-02-23 23:05:30
103297      14                      0               30  2019-02-23 23:05:30
103298      23                     21                9  2019-02-23 23:05:30
103299     106                     39                1  2019-02-23 23:05:30
103300     112                     12               18  2019-02-23 23:05:30
103301      68                     38                2  2019-02-23 23:05:30
103302      74                     24                6  2019-02-23 23:05:30
103303      87                     29                9  2019-02-23 23:05:30
103304      84                     21                9  2019-02-23 23:05:30
103305      90                     36                4  2019-02-23 23:05:30
103306      11                     28                2  2019-02-23 23:05:30
103307      17                      2               18  2019-02-23 23:05:30
103308      45                      9               21  2019-02-23 23:05:30
103309     114                     33                7  2019-02-23 23:05:30
103310      72                     26                0  2019-02-23 23:05:30
103311      63                     18               17  2019-02-23 23:05:30
...        ...                    ...              ...                  ...
103365      26                      4               16  2019-02-23 23:05:30
103366      65                     27               13  2019-02-23 23:05:30
103367      15                     15                1  2019-02-23 23:05:30
103368      86                     14               24  2019-02-23 23:05:30
103369      35                     11               19  2019-02-23 23:05:30
103370      10                      2               14  2019-02-23 23:05:30
103371     100                      6               19  2019-02-23 23:05:30
103372      24                     20                0  2019-02-23 23:05:30
103373      64                      5               35  2019-02-23 23:05:30
103374     109                      5               24  2019-02-23 23:05:30
103375      85                     30                5  2019-02-23 23:05:30
103376     107                     40                0  2019-02-23 23:05:30
103377      33                      6               17  2019-02-23 23:05:30
103378      44                     21                9  2019-02-23 23:05:30
103379      89                     40                0  2019-02-23 23:05:30
103380      57                     22                1  2019-02-23 23:05:30
103381      80                     30               10  2019-02-23 23:05:30
103382      41                     17                3  2019-02-23 23:05:30
103383       3                     12                8  2019-02-23 23:05:30
103384      46                      2               18  2019-02-23 23:05:30
103385      40                      1               20  2019-02-23 23:05:30
103386      29                      0               29  2019-02-23 23:05:30
103387      70                     21                7  2019-02-23 23:05:30
103388     103                     36                4  2019-02-23 23:05:30
103389      28                     13               17  2019-02-23 23:05:30
103390      39                     20                0  2019-02-23 23:05:30
103391      83                     37                3  2019-02-23 23:05:30
103392      92                      5               35  2019-02-23 23:05:30
103393      21                      2               28  2019-02-23 23:05:30
103394      88                     18               12  2019-02-23 23:05:30

[113 rows x 4 columns]

- These rows all have the same timestamp
- This marks the point where timestamp issues were resolved
- Also, the first number is 42 and the last number is 88, this means that the target starts at a group of 113
- Next, check that the number of rows from the target to the end is divisible by 113
- This should be the case because the table is added to in groups of 113

In [15]:
dfDynamicInfo.iloc[target:].shape[0] % 113

0

- Number of remaining rows divisible by 113
- Can now remove all rows below target

In [16]:
dfDynamicInfo.drop(range(0, target), inplace=True)

In [17]:
dfDynamicInfo.head()

        number  available_bike_stands  available_bikes          last_update
103282      42                     19               11  2019-02-23 23:05:30
103283      30                     16                4  2019-02-23 23:05:30
103284      54                     25                8  2019-02-23 23:05:30
103285     108                     20               19  2019-02-23 23:05:30
103286      56                     31                9  2019-02-23 23:05:30

In [18]:
dfDynamicInfo[dfDynamicInfo["number"]==42].head()

        number  available_bike_stands  available_bikes          last_update
103282      42                     19               11  2019-02-23 23:05:30
103395      42                     18               12  2019-02-23 23:16:49
103508      42                     19               11  2019-02-23 23:22:59
103621      42                     18               12  2019-02-23 23:23:07
103734      42                     17               13  2019-02-23 23:29:41

- Still have issues with timing, gonna work on weather below and come back to it

In [19]:
dfDynamicInfo.tail()

         number  available_bike_stands  available_bikes          last_update
1094287      39                     15                5  2019-03-27 17:01:23
1094288      83                     34                6  2019-03-27 17:01:23
1094289      92                     20               20  2019-03-27 17:01:23
1094290      21                      5               25  2019-03-27 17:01:23
1094291      88                     26                4  2019-03-27 17:01:23

## WeatherInfo Work 
- Read in weather info from csv

In [22]:
dfWeatherInfo = pd.read_csv("WeatherWorkData.csv")

- Checked head and saw that there was a jump in dates
- So expanded check to find where we started regularly getting weather info

In [23]:
dfWeatherInfo.shape

(1449, 9)

- Checked head and saw that there was a jump in dates
- So expanded check to find where we started regularly getting weather info

In [24]:
dfWeatherInfo.head(10)

,Unnamed: 0,number,datetime,overview,description,temperature,humidity,wind_speed,clouds
0,0,1,2019-02-22 11:00:00,Clouds,broken clouds,286.0,76.0,3.0,75.0
1,1,2,2019-02-22 11:00:00,Clouds,broken clouds,286.0,76.0,3.0,75.0
2,2,3,2019-02-22 11:00:00,Clouds,broken clouds,286.0,76.0,3.0,75.0
3,3,4,2019-02-22 12:00:00,Clouds,broken clouds,287.0,66.0,4.0,75.0
4,4,5,2019-02-25 14:30:00,Clouds,broken clouds,286.0,62.0,4.0,75.0
5,5,6,2019-02-25 14:30:00,Clouds,broken clouds,286.0,62.0,4.0,75.0
6,6,7,2019-02-25 15:00:00,Clouds,broken clouds,286.0,71.0,4.0,75.0
7,7,8,2019-02-25 15:30:00,Clouds,broken clouds,286.0,71.0,3.0,75.0
8,8,9,2019-02-25 16:00:00,Clouds,broken clouds,286.0,76.0,4.0,75.0
9,9,10,2019-02-25 16:30:00,Clouds,broken clouds,285.0,76.0,2.0,75.0

- Drop unecessary columns and rows 0 to 6

In [25]:
dfWeatherInfo.drop(["Unnamed: 0", "number"],axis=1, inplace=True)
dfWeatherInfo.drop(range(0,6), inplace=True)

- Rename datetime to last_update to make merging easier later on

In [26]:
dfWeatherInfo.rename(columns={"datetime":"last_update"}, inplace=True)

- dfWeatherInfo in kelvin, convert to degrees celsius

In [27]:
dfWeatherInfo["temperature"] = dfWeatherInfo["temperature"] - 273.15

In [28]:
dfWeatherInfo.head()

,last_update,overview,description,temperature,humidity,wind_speed,clouds
6,2019-02-25 15:00:00,Clouds,broken clouds,12.85,71.0,4.0,75.0
7,2019-02-25 15:30:00,Clouds,broken clouds,12.85,71.0,3.0,75.0
8,2019-02-25 16:00:00,Clouds,broken clouds,12.85,76.0,4.0,75.0
9,2019-02-25 16:30:00,Clouds,broken clouds,11.85,76.0,2.0,75.0
10,2019-02-25 17:48:51,Clouds,broken clouds,10.85,81.0,3.0,75.0

- Note that we didn't start collecting weather info till the 25-Feb
- This means we have no weather data for DynamicInfo before that time
- For the time being, I'll store the DynamicInfo without weather data in a separate df
- I'll then merge the weather df with the DynamicInfo that we have weather for

In [29]:
dfDynamicInfo[dfDynamicInfo["last_update"] > "2019-02-25 15:30:00"].head()

        number  available_bike_stands  available_bikes          last_update
136278      42                     30                0  2019-02-25 15:34:42
136279      30                     16                4  2019-02-25 15:34:42
136280      54                     14               19  2019-02-25 15:34:42
136281     108                     40                0  2019-02-25 15:34:42
136282      56                     16               24  2019-02-25 15:34:42

In [30]:
dfDynamicInfoNoWeatherAvailable = dfDynamicInfo[dfDynamicInfo["last_update"] < "2019-02-25 15:00:00"]

In [31]:
dfDynamicInfoNoWeatherAvailable.head()

        number  available_bike_stands  available_bikes          last_update
103282      42                     19               11  2019-02-23 23:05:30
103283      30                     16                4  2019-02-23 23:05:30
103284      54                     25                8  2019-02-23 23:05:30
103285     108                     20               19  2019-02-23 23:05:30
103286      56                     31                9  2019-02-23 23:05:30

In [32]:
dfDynamicInfo = dfDynamicInfo[dfDynamicInfo["last_update"] > "2019-02-25 15:00:00"]

In [33]:
dfDynamicInfo.head()

        number  available_bike_stands  available_bikes          last_update
136165      42                     30                0  2019-02-25 15:20:29
136166      30                     17                3  2019-02-25 15:20:29
136167      54                     13               20  2019-02-25 15:20:29
136168     108                     40                0  2019-02-25 15:20:29
136169      56                     16               24  2019-02-25 15:20:29

In [34]:
dfDynamicInfo[dfDynamicInfo["number"]==42].head()

        number  available_bike_stands  available_bikes          last_update
136165      42                     30                0  2019-02-25 15:20:29
136278      42                     30                0  2019-02-25 15:34:42
136391      42                     28                2  2019-02-25 15:39:43
136504      42                     28                2  2019-02-25 15:44:44
136617      42                     30                0  2019-02-25 15:49:45

- Note, this also sorts out our uneven timestamp issue in DynamicInfo

In [35]:
dfWeatherInfo.reset_index(drop=True, inplace=True)
dfWeatherInfo.head()

,last_update,overview,description,temperature,humidity,wind_speed,clouds
0,2019-02-25 15:00:00,Clouds,broken clouds,12.85,71.0,4.0,75.0
1,2019-02-25 15:30:00,Clouds,broken clouds,12.85,71.0,3.0,75.0
2,2019-02-25 16:00:00,Clouds,broken clouds,12.85,76.0,4.0,75.0
3,2019-02-25 16:30:00,Clouds,broken clouds,11.85,76.0,2.0,75.0
4,2019-02-25 17:48:51,Clouds,broken clouds,10.85,81.0,3.0,75.0

In [36]:
dfDynamicInfo.reset_index(drop=True, inplace=True)
dfDynamicInfo.head()

   number  available_bike_stands  available_bikes          last_update
0      42                     30                0  2019-02-25 15:20:29
1      30                     17                3  2019-02-25 15:20:29
2      54                     13               20  2019-02-25 15:20:29
3     108                     40                0  2019-02-25 15:20:29
4      56                     16               24  2019-02-25 15:20:29

## Representing available_bikes as a percentage of totalbikes
- First read in StaticInfo

In [40]:
dfStaticInfo = pd.read_csv("StaticInfoWorkData.csv")

In [41]:
dfStaticInfo.shape

(113, 7)

In [42]:
dfStaticInfo.head()

,Unnamed: 0,number,name,address,lat,lng,bikestands
0,0,2,BLESSINGTON STREET,Blessington Street,53.356770,-6.268140,20
1,1,3,BOLTON STREET,Bolton Street,53.351181,-6.269859,20
2,2,4,GREEK STREET,Greek Street,53.346874,-6.272976,20
3,3,5,CHARLEMONT PLACE,Charlemont Street,53.330662,-6.260177,40
4,4,6,CHRISTCHURCH PLACE,Christchurch Place,53.343369,-6.270120,20

In [43]:
dropper = ["Unnamed: 0", "name", "lat", "lng"]
for col in dropper:
    dfStaticInfo.drop(col, axis=1 ,inplace=True)
dfStaticInfo.head()

   number             address  bikestands
0       2  Blessington Street          20
1       3       Bolton Street          20
2       4        Greek Street          20
3       5   Charlemont Street          40
4       6  Christchurch Place          20

In [44]:
dfDynamicInfo.head()

   number  available_bike_stands  available_bikes          last_update
0      42                     30                0  2019-02-25 15:20:29
1      30                     17                3  2019-02-25 15:20:29
2      54                     13               20  2019-02-25 15:20:29
3     108                     40                0  2019-02-25 15:20:29
4      56                     16               24  2019-02-25 15:20:29

In [45]:
dfDynamicInfo = dfDynamicInfo.merge(dfStaticInfo, how="left", on="number", sort=False)
dfDynamicInfo.head()

,number,available_bike_stands,available_bikes,last_update,address,bikestands
0,42,30,0,2019-02-25 15:20:29,Smithfield North,30
1,30,17,3,2019-02-25 15:20:29,Parnell Square North,20
2,54,13,20,2019-02-25 15:20:29,Clonmel Street,33
3,108,40,0,2019-02-25 15:20:29,Avondale Road,40
4,56,16,24,2019-02-25 15:20:29,Mount Street Lower,40

In [46]:
dfDynamicInfo["available_bikes_percentage"] = dfDynamicInfo["available_bikes"] / dfDynamicInfo["bikestands"] * 100

In [47]:
dfDynamicInfo.head()

,number,available_bike_stands,available_bikes,last_update,address,bikestands,available_bikes_percentage
0,42,30,0,2019-02-25 15:20:29,Smithfield North,30,0.000000
1,30,17,3,2019-02-25 15:20:29,Parnell Square North,20,15.000000
2,54,13,20,2019-02-25 15:20:29,Clonmel Street,33,60.606061
3,108,40,0,2019-02-25 15:20:29,Avondale Road,40,0.000000
4,56,16,24,2019-02-25 15:20:29,Mount Street Lower,40,60.000000

## Merge DynamicInfo with WeatherInfo

In [50]:
pd.concat([dfDynamicInfo, dfWeatherInfo], )

D:\HDip\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,address,available_bike_stands,available_bikes,available_bikes_percentage,bikestands,clouds,description,humidity,last_update,number,overview,temperature,wind_speed
0,Smithfield North,30.0,0.0,0.000000,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,42.0,NaN,NaN,NaN
1,Parnell Square North,17.0,3.0,15.000000,20.0,NaN,NaN,NaN,2019-02-25 15:20:29,30.0,NaN,NaN,NaN
2,Clonmel Street,13.0,20.0,60.606061,33.0,NaN,NaN,NaN,2019-02-25 15:20:29,54.0,NaN,NaN,NaN
3,Avondale Road,40.0,0.0,0.000000,40.0,NaN,NaN,NaN,2019-02-25 15:20:29,108.0,NaN,NaN,NaN
4,Mount Street Lower,16.0,24.0,60.000000,40.0,NaN,NaN,NaN,2019-02-25 15:20:29,56.0,NaN,NaN,NaN
5,Christchurch Place,20.0,0.0,0.000000,20.0,NaN,NaN,NaN,2019-02-25 15:20:29,6.0,NaN,NaN,NaN
6,Grantham Street,27.0,3.0,10.000000,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,18.0,NaN,NaN,NaN
7,Pearse Street,11.0,19.0,63.333333,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,32.0,NaN,NaN,NaN
8,York Street East,12.0,20.0,62.500000,32.0,NaN,NaN,NaN,2019-02-25 15:20:29,52.0,NaN,NaN,NaN
9,Excise Walk,9.0,31.0,77.500000,40.0,NaN,NaN,NaN,2019-02-25 15:20:29,48.0,NaN,NaN,NaN
10,Fitzwilliam Square West,0.0,30.0,100.000000,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,13.0,NaN,NaN,NaN
11,Portobello Road,26.0,4.0,13.333333,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,43.0,NaN,NaN,NaN
12,St. James Hospital (Central),40.0,0.0,0.000000,40.0,NaN,NaN,NaN,2019-02-25 15:20:29,81.0,NaN,NaN,NaN
13,Parnell Street,17.0,3.0,15.000000,20.0,NaN,NaN,NaN,2019-02-25 15:20:29,31.0,NaN,NaN,NaN
14,Frederick Street South,10.0,30.0,75.000000,40.0,NaN,NaN,NaN,2019-02-25 15:20:29,98.0,NaN,NaN,NaN
15,Fownes Street Upper,15.0,15.0,50.000000,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,14.0,NaN,NaN,NaN
16,Custom House,26.0,4.0,13.333333,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,23.0,NaN,NaN,NaN
17,Rathdown Road,39.0,1.0,2.500000,40.0,NaN,NaN,NaN,2019-02-25 15:20:29,106.0,NaN,NaN,NaN
18,North Circular Road (O'Connell's),28.0,2.0,6.666667,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,112.0,NaN,NaN,NaN
19,Hanover Quay,3.0,37.0,92.500000,40.0,NaN,NaN,NaN,2019-02-25 15:20:29,68.0,NaN,NaN,NaN
20,Oliver Bond Street,16.0,14.0,46.666667,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,74.0,NaN,NaN,NaN
21,Collins Barracks Museum,38.0,0.0,0.000000,38.0,NaN,NaN,NaN,2019-02-25 15:20:29,87.0,NaN,NaN,NaN
22,Brookfield Road,30.0,0.0,0.000000,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,84.0,NaN,NaN,NaN
23,Benson Street,8.0,32.0,80.000000,40.0,NaN,NaN,NaN,2019-02-25 15:20:29,90.0,NaN,NaN,NaN
24,Earlsfort Terrace,23.0,7.0,23.333333,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,11.0,NaN,NaN,NaN
25,Golden Lane,18.0,2.0,10.000000,20.0,NaN,NaN,NaN,2019-02-25 15:20:29,17.0,NaN,NaN,NaN
26,Deverell Place,26.0,4.0,13.333333,30.0,NaN,NaN,NaN,2019-02-25 15:20:29,45.0,NaN,NaN,NaN
27,Wilton Terrace (Park),9.0,31.0,77.500000,40.0,NaN,NaN,NaN,2019-02-25 15:20:29,114.0,NaN,NaN,NaN
28,John Street West,24.0,1.0,3.225806,31.0,NaN,NaN,NaN,2019-02-25 15:20:29,72.0,NaN,NaN,NaN
29,Fenian Street,8.0,27.0,77.142857,35.0,NaN,NaN,NaN,2019-02-25 15:20:29,63.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413,NaN,NaN,NaN,NaN,NaN,20.0,few clouds,86.0,2019-03-27 02:23:51,NaN,Clouds,3.85,2.0
1414,NaN,NaN,NaN,NaN,NaN,20.0,few clouds,86.0,2019-03-27 02:58:55,NaN,Clouds,3.85,3.0
1415,NaN,NaN,NaN,NaN,NaN,40.0,scattered clouds,86.0,2019-03-27 03:23:47,NaN,Clouds,3.85,3.0
1416,NaN,NaN,NaN,NaN,NaN,40.0,scattered clouds,86.0,2019-03-27 03:53:48,NaN,Clouds,3.85,3.0
1417,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,86.0,2019-03-27 04:23:50,NaN,Clouds,3.85,3.0
1418,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,86.0,2019-03-27 04:58:37,NaN,Clouds,3.85,3.0
1419,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,81.0,2019-03-27 05:23:37,NaN,Clouds,3.85,2.0
1420,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,81.0,2019-03-27 05:58:53,NaN,Clouds,3.85,2.0
1421,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,81.0,2019-03-27 06:23:48,NaN,Clouds,3.85,2.0
1422,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,81.0,2019-03-27 06:53:36,NaN,Clouds,3.85,2.0
1423,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,81.0,2019-03-27 07:23:54,NaN,Clouds,4.85,2.0
1424,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,81.0,2019-03-27 07:53:46,NaN,Clouds,4.85,2.0
1425,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,81.0,2019-03-27 08:23:33,NaN,Clouds,5.85,2.0
1426,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,81.0,2019-03-27 08:53:41,NaN,Clouds,6.85,2.0
1427,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,75.0,2019-03-27 09:23:33,NaN,Clouds,7.85,2.0
1428,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,75.0,2019-03-27 09:58:52,NaN,Clouds,7.85,3.0
1429,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,70.0,2019-03-27 10:28:38,NaN,Clouds,8.85,4.0
1430,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,66.0,2019-03-27 10:53:49,NaN,Clouds,9.85,4.0
1431,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,66.0,2019-03-27 11:23:34,NaN,Clouds,9.85,4.0
1432,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,66.0,2019-03-27 11:53:44,NaN,Clouds,10.85,3.0
1433,NaN,NaN,NaN,NaN,NaN,40.0,scattered clouds,62.0,2019-03-27 12:23:37,NaN,Clouds,10.85,4.0
1434,NaN,NaN,NaN,NaN,NaN,40.0,scattered clouds,62.0,2019-03-27 12:53:51,NaN,Clouds,11.85,4.0
1435,NaN,NaN,NaN,NaN,NaN,40.0,scattered clouds,62.0,2019-03-27 13:23:36,NaN,Clouds,11.85,5.0
1436,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,62.0,2019-03-27 13:58:43,NaN,Clouds,12.85,6.0
1437,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,58.0,2019-03-27 14:23:46,NaN,Clouds,12.85,5.0
1438,NaN,NaN,NaN,NaN,NaN,40.0,scattered clouds,58.0,2019-03-27 14:58:41,NaN,Clouds,12.85,4.0
1439,NaN,NaN,NaN,NaN,NaN,40.0,scattered clouds,66.0,2019-03-27 15:23:55,NaN,Clouds,12.85,5.0
1440,NaN,NaN,NaN,NaN,NaN,75.0,broken clouds,66.0,2019-03-27 15:53:48,NaN,Clouds,12.85,4.0
1441,NaN,NaN,NaN,NaN,NaN,40.0,scattered clouds,62.0,2019-03-27 16:23:49,NaN,Clouds,12.85,4.0
1442,NaN,NaN,NaN,NaN,NaN,40.0,scattered clouds,62.0,2019-03-27 16:53:34,NaN,Clouds,11.85,2.0

In [51]:
dfDynamicInfo.shape

(958127, 7)

In [52]:
dfWeatherInfo.head()

,last_update,overview,description,temperature,humidity,wind_speed,clouds
0,2019-02-25 15:00:00,Clouds,broken clouds,12.85,71.0,4.0,75.0
1,2019-02-25 15:30:00,Clouds,broken clouds,12.85,71.0,3.0,75.0
2,2019-02-25 16:00:00,Clouds,broken clouds,12.85,76.0,4.0,75.0
3,2019-02-25 16:30:00,Clouds,broken clouds,11.85,76.0,2.0,75.0
4,2019-02-25 17:48:51,Clouds,broken clouds,10.85,81.0,3.0,75.0

In [53]:
pd.merge_asof(dfDynamicInfo.sort_values(["number","last_update"]).reset_index(drop=True), dfWeatherInfo, left_index=True, right_index=True, on="last_update", direction="nearest").sort_values(["number","last_update"])

,number,available_bike_stands,available_bikes,last_update,address,bikestands,available_bikes_percentage,overview,description,temperature,humidity,wind_speed,clouds
0,2,20,0,2019-02-25 15:20:29,Blessington Street,20,0.000000,Clouds,broken clouds,12.85,71.00,4.0,75.0
1,2,20,0,2019-02-25 15:34:42,Blessington Street,20,0.000000,Clouds,broken clouds,12.85,71.00,3.0,75.0
2,2,20,0,2019-02-25 15:39:43,Blessington Street,20,0.000000,Clouds,broken clouds,12.85,76.00,4.0,75.0
3,2,20,0,2019-02-25 15:44:44,Blessington Street,20,0.000000,Clouds,broken clouds,11.85,76.00,2.0,75.0
4,2,20,0,2019-02-25 15:49:45,Blessington Street,20,0.000000,Clouds,broken clouds,10.85,81.00,3.0,75.0
5,2,17,3,2019-02-25 15:54:46,Blessington Street,20,15.000000,Clouds,broken clouds,9.85,81.00,2.0,75.0
6,2,17,3,2019-02-25 15:59:47,Blessington Street,20,15.000000,Clouds,broken clouds,7.85,93.00,2.0,75.0
7,2,14,6,2019-02-25 16:04:48,Blessington Street,20,30.000000,Clouds,broken clouds,7.85,93.00,2.0,75.0
8,2,15,5,2019-02-25 16:09:48,Blessington Street,20,25.000000,Clouds,scattered clouds,7.85,87.00,2.0,40.0
9,2,15,5,2019-02-25 16:14:49,Blessington Street,20,25.000000,Clouds,scattered clouds,6.85,81.00,4.0,40.0
10,2,16,4,2019-02-25 16:19:50,Blessington Street,20,20.000000,Clouds,scattered clouds,6.85,81.00,3.0,40.0
11,2,16,4,2019-02-25 16:24:51,Blessington Street,20,20.000000,Clouds,scattered clouds,6.85,81.00,3.0,40.0
12,2,16,4,2019-02-25 16:29:52,Blessington Street,20,20.000000,Clouds,scattered clouds,5.85,70.00,3.0,40.0
13,2,16,4,2019-02-25 16:34:53,Blessington Street,20,20.000000,Clouds,scattered clouds,5.85,86.00,3.0,40.0
14,2,16,4,2019-02-25 16:39:54,Blessington Street,20,20.000000,Clouds,few clouds,5.85,93.00,1.0,20.0
15,2,16,4,2019-02-25 16:44:54,Blessington Street,20,20.000000,Clouds,few clouds,4.85,93.00,1.0,20.0
16,2,16,4,2019-02-25 16:49:55,Blessington Street,20,20.000000,Clouds,few clouds,4.85,80.00,2.0,20.0
17,2,17,3,2019-02-25 16:54:56,Blessington Street,20,15.000000,Clouds,few clouds,5.85,81.00,1.0,20.0
18,2,16,3,2019-02-25 16:59:57,Blessington Street,20,15.000000,Clouds,few clouds,4.85,86.00,1.0,20.0
19,2,16,3,2019-02-25 17:04:58,Blessington Street,20,15.000000,Clouds,few clouds,4.85,86.00,1.0,20.0
20,2,16,3,2019-02-25 17:09:59,Blessington Street,20,15.000000,Clouds,few clouds,3.85,99.00,1.0,20.0
21,2,17,2,2019-02-25 17:14:59,Blessington Street,20,10.000000,Clouds,few clouds,2.85,99.00,1.0,20.0
22,2,17,2,2019-02-25 17:20:01,Blessington Street,20,10.000000,Clouds,few clouds,2.85,99.00,2.0,20.0
23,2,18,1,2019-02-25 17:25:01,Blessington Street,20,5.000000,Clouds,few clouds,2.85,99.00,1.0,20.0
24,2,16,3,2019-02-25 17:30:02,Blessington Street,20,15.000000,Clouds,few clouds,2.85,99.00,1.0,20.0
25,2,16,3,2019-02-25 17:35:03,Blessington Street,20,15.000000,Clouds,few clouds,1.85,93.00,2.0,20.0
26,2,16,3,2019-02-25 17:40:04,Blessington Street,20,15.000000,Clouds,few clouds,1.85,99.99,2.0,20.0
27,2,15,4,2019-02-25 17:45:05,Blessington Street,20,20.000000,Clouds,few clouds,1.85,99.99,2.0,20.0
28,2,15,4,2019-02-25 17:50:06,Blessington Street,20,20.000000,Clouds,few clouds,1.85,99.99,2.0,20.0
29,2,15,4,2019-02-25 17:55:07,Blessington Street,20,20.000000,Clouds,few clouds,0.85,99.99,3.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
958097,115,14,16,2019-03-27 14:35:37,Killarney Street,30,53.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958098,115,14,16,2019-03-27 14:41:03,Killarney Street,30,53.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958099,115,13,17,2019-03-27 14:46:03,Killarney Street,30,56.666667,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958100,115,13,17,2019-03-27 14:51:04,Killarney Street,30,56.666667,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958101,115,14,16,2019-03-27 14:56:05,Killarney Street,30,53.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958102,115,15,15,2019-03-27 15:01:06,Killarney Street,30,50.000000,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958103,115,15,15,2019-03-27 15:06:06,Killarney Street,30,50.000000,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958104,115,15,15,2019-03-27 15:11:07,Killarney Street,30,50.000000,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958105,115,15,15,2019-03-27 15:16:08,Killarney Street,30,50.000000,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958106,115,15,15,2019-03-27 15:21:09,Killarney Street,30,50.000000,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958107,115,17,13,2019-03-27 15:26:09,Killarney Street,30,43.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958108,115,17,13,2019-03-27 15:31:10,Killarney Street,30,43.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958109,115,17,13,2019-03-27 15:36:11,Killarney Street,30,43.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958110,115,16,14,2019-03-27 15:41:12,Killarney Street,30,46.666667,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958111,115,16,14,2019-03-27 15:46:12,Killarney Street,30,46.666667,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958112,115,17,13,2019-03-27 15:51:13,Killarney Street,30,43.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958113,115,17,13,2019-03-27 15:56:14,Killarney Street,30,43.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958114,115,17,13,2019-03-27 16:01:14,Killarney Street,30,43.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958115,115,18,12,2019-03-27 16:06:15,Killarney Street,30,40.000000,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958116,115,20,10,2019-03-27 16:11:16,Killarney Street,30,33.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958117,115,21,9,2019-03-27 16:16:17,Killarney Street,30,30.000000,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958118,115,22,8,2019-03-27 16:21:17,Killarney Street,30,26.666667,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958119,115,22,8,2019-03-27 16:26:18,Killarney Street,30,26.666667,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958120,115,20,10,2019-03-27 16:31:19,Killarney Street,30,33.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958121,115,20,10,2019-03-27 16:36:20,Killarney Street,30,33.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958122,115,19,11,2019-03-27 16:41:21,Killarney Street,30,36.666667,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958123,115,19,11,2019-03-27 16:46:21,Killarney Street,30,36.666667,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958124,115,17,13,2019-03-27 16:51:22,Killarney Street,30,43.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958125,115,17,13,2019-03-27 16:56:23,Killarney Street,30,43.333333,Clouds,scattered clouds,11.85,62.00,2.0,40.0
958126,115,18,12,2019-03-27 17:01:23,Killarney Street,30,40.000000,Clouds,scattered clouds,11.85,62.00,2.0,40.0

- Merging in pandas not working out so did it in sql instead
- Used local database and saved result to csv
- Takes a while so wouldn't recommend it but it's fast enough
- Tries using sqlite instead but it hit 8gb ram straight away so it needs to be done in a normal database on disk

In [54]:
"""
from sqlalchemy import create_engine
# localDb format: "mysql+pymysql://<username>:<password>@localhost/<database>"
localDb = "mysql+pymysql://root:Jm30079!@localhost/test"
engine = create_engine(localDb)
dfDynamicInfo.to_sql("DbDynamicInfoADT", con=engine)
dfWeatherInfo.to_sql("WeatherInfoADT", con=engine)
"""

'\nfrom sqlalchemy import create_engine\n# localDb format: "mysql+pymysql://<username>:<password>@localhost/<database>"\nlocalDb = "mysql+pymysql://root:Jm30079!@localhost/test"\nengine = create_engine(localDb)\ndfDynamicInfo.to_sql("DbDynamicInfoADT", con=engine)\ndfWeatherInfo.to_sql("WeatherInfoADT", con=engine)\n'

In [26]:
"""
query = "select di.number, di.available_bikes_percentage, di.available_bikes, di.available_bike_stands, di.bikestands,di.last_update, di.weekday, wi.overview, wi.description, wi.temperature, wi.wind_speed, wi.clouds from DbDynamicInfoADT di, WeatherInfoADT wi where abs(timestampdiff(minute, di.last_update, wi.last_update)) < 20" # limit " + str(113*5000)
dfNewDynamicInfo = pd.read_sql(query, localDb)
dfNewDynamicInfo.head()
"""

'\nquery = "select di.number, di.available_bikes_percentage, di.available_bikes, di.available_bike_stands, di.bikestands,di.last_update, di.weekday, wi.overview, wi.description, wi.temperature, wi.wind_speed, wi.clouds from DbDynamicInfoADT di, WeatherInfoADT wi where abs(timestampdiff(minute, di.last_update, wi.last_update)) < 20" # limit " + str(113*5000)\ndfNewDynamicInfo = pd.read_sql(query, localDb)\ndfNewDynamicInfo.head()\n'

- Ended up with duplicate rows
- Dropped them but accidentally deleted the cells for this
- When recreating, look for duplicates in number and last_update: df[["number", "last_update"]].duplicated()
- These need to be dropped
- End up with about 1130 rows less than starting dynamic info but weather seems to line up with proper dates and times and there are no more duplicates, this still leaves us with enough data to work with even at this point

In [27]:
#dfNewDynamicInfo.to_csv("DbDynamicInfoADT.csv")
dfNewDynamicInfo = pd.read_csv("DbDynamicInfoADT.csv")

In [28]:
dfNewDynamicInfo.shape

(1220287, 16)

In [29]:
dfNewDynamicInfo.drop_duplicates(["number", "last_update"], inplace=True)

In [30]:
dfNewDynamicInfo[dfNewDynamicInfo[["number", "last_update", "weekday"]].duplicated()].shape

(0, 16)

In [31]:
dfNewDynamicInfo.shape

(1220287, 16)

In [ ]:
#dfNewDynamicInfo.to_csv("DbDynamicInfoADT.csv")

In [33]:
dfNewDynamicInfo.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,number,available_bikes_percentage,available_bikes,available_bike_stands,bikestands,last_update,weekday,overview,description,temperature,wind_speed,clouds
0,0,0,0,0,42,0.000000,0,30,30,2019-02-25 15:20:29,2,Clouds,broken clouds,12.85,3.0,75.0
1,1,1,1,1,30,15.000000,3,17,20,2019-02-25 15:20:29,2,Clouds,broken clouds,12.85,3.0,75.0
2,2,2,2,2,54,60.606061,20,13,33,2019-02-25 15:20:29,2,Clouds,broken clouds,12.85,3.0,75.0
3,3,3,3,3,108,0.000000,0,40,40,2019-02-25 15:20:29,2,Clouds,broken clouds,12.85,3.0,75.0
4,4,4,4,4,56,60.000000,24,16,40,2019-02-25 15:20:29,2,Clouds,broken clouds,12.85,3.0,75.0

In [55]:
dfWeatherInfo.head()

,last_update,overview,description,temperature,humidity,wind_speed,clouds
0,2019-02-25 15:00:00,Clouds,broken clouds,12.85,71.0,4.0,75.0
1,2019-02-25 15:30:00,Clouds,broken clouds,12.85,71.0,3.0,75.0
2,2019-02-25 16:00:00,Clouds,broken clouds,12.85,76.0,4.0,75.0
3,2019-02-25 16:30:00,Clouds,broken clouds,11.85,76.0,2.0,75.0
4,2019-02-25 17:48:51,Clouds,broken clouds,10.85,81.0,3.0,75.0

In [ ]:
dfNewDynamicInfo.head()

In [ ]:
dfNewDynamicInfo.tail()

In [94]:
dfWeatherInfo.tail()

,last_update,overview,description,temperature,humidity,wind_speed,clouds
1438,2019-03-27 14:58:41,Clouds,scattered clouds,12.85,58.0,4.0,40.0
1439,2019-03-27 15:23:55,Clouds,scattered clouds,12.85,66.0,5.0,40.0
1440,2019-03-27 15:53:48,Clouds,broken clouds,12.85,66.0,4.0,75.0
1441,2019-03-27 16:23:49,Clouds,scattered clouds,12.85,62.0,4.0,40.0
1442,2019-03-27 16:53:34,Clouds,scattered clouds,11.85,62.0,2.0,40.0

In [95]:
#df = pd.read_csv("DbDynamicInfoADT.csv")

In [96]:
df.tail()

,Unnamed: 0,number,available_bikes_percentage,available_bikes,available_bike_stands,bikestands,last_update,weekday,overview,description,temperature,wind_speed,clouds
933940,933940,39,0.000000,0,20,20,1553644682000000000,3,Clouds,scattered clouds,3.85,2.0,40.0
933941,933941,83,97.500000,39,1,40,1553644682000000000,3,Clouds,scattered clouds,3.85,2.0,40.0
933942,933942,92,90.000000,36,4,40,1553644682000000000,3,Clouds,scattered clouds,3.85,2.0,40.0
933943,933943,21,0.000000,0,30,30,1553644682000000000,3,Clouds,scattered clouds,3.85,2.0,40.0
933944,933944,88,96.666667,29,1,30,1553644682000000000,3,Clouds,scattered clouds,3.85,2.0,40.0

In [99]:
df2 = pd.read_csv("WeatherWorkData.csv")

In [100]:
df2.tail()

,Unnamed: 0,number,datetime,overview,description,temperature,humidity,wind_speed,clouds
1444,1444,1445,2019-03-27 14:58:41,Clouds,scattered clouds,286.0,58.0,4.0,40.0
1445,1445,1446,2019-03-27 15:23:55,Clouds,scattered clouds,286.0,66.0,5.0,40.0
1446,1446,1447,2019-03-27 15:53:48,Clouds,broken clouds,286.0,66.0,4.0,75.0
1447,1447,1448,2019-03-27 16:23:49,Clouds,scattered clouds,286.0,62.0,4.0,40.0
1448,1448,1449,2019-03-27 16:53:34,Clouds,scattered clouds,285.0,62.0,2.0,40.0

## NOTE: Weekday Numbers
- Sunday = 1
- Monday = 2
- Tuesday = 3
- Wednesday = 4
- Thursday = 5
- Friday = 6
- Saturday = 7

In [ ]:
df = df[df["last_update"] < "2019-03-27"]

In [ ]:
df.drop(["Unnamed: 0", "Unnamed: 0.1", "Unnamed: 0.1.1"], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df2[df2["datetime"] > "2019-03-26 23:00:00"].head()

In [ ]:
277-273.15

In [ ]:
#df.to_csv("DublinBikesADT.csv")

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df[df[["number", "last_update"]].duplicated()]

# Linear Regression Attempt
<a id="linreg"></a>

In [58]:
df = pd.read_csv("NewDbADT.csv")
print(df.shape)
df.head()

(933945, 13)

,Unnamed: 0,number,available_bikes_percentage,available_bikes,available_bike_stands,bikestands,last_update,weekday,overview,description,temperature,wind_speed,clouds
0,0,42,0.000000,0,30,30,1551108029000000000,2,Clouds,broken clouds,12.85,3.0,75.0
1,1,30,15.000000,3,17,20,1551108029000000000,2,Clouds,broken clouds,12.85,3.0,75.0
2,2,54,60.606061,20,13,33,1551108029000000000,2,Clouds,broken clouds,12.85,3.0,75.0
3,3,108,0.000000,0,40,40,1551108029000000000,2,Clouds,broken clouds,12.85,3.0,75.0
4,4,56,60.000000,24,16,40,1551108029000000000,2,Clouds,broken clouds,12.85,3.0,75.0

In [59]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [60]:
overview = {}
num = 0
for i in df["overview"].unique():
    overview[i] = num
    num += 1

In [61]:
description = {}
num = 0
for i in df["description"].unique():
    description[i] = num
    num += 1

In [62]:
description

{'broken clouds': 0,
 'scattered clouds': 1,
 'few clouds': 2,
 'clear sky': 3,
 'mist': 4,
 'fog': 5,
 'light rain': 6,
 'moderate rain': 7,
 'heavy intensity rain': 8,
 'very heavy rain': 9,
 'snow': 10,
 'light intensity shower rain': 11,
 'shower rain': 12,
 'light intensity drizzle': 13,
 'shower sleet': 14,
 'light intensity drizzle rain': 15,
 'drizzle': 16,
 'overcast clouds': 17}

In [63]:
overview

{'Clouds': 0,
 'Clear': 1,
 'Mist': 2,
 'Fog': 3,
 'Rain': 4,
 'Snow': 5,
 'Drizzle': 6}

In [64]:
df.replace(description, inplace=True)
df.replace(overview, inplace=True)

In [65]:
df.head()

,number,available_bikes_percentage,available_bikes,available_bike_stands,bikestands,last_update,weekday,overview,description,temperature,wind_speed,clouds
0,42,0.000000,0,30,30,1551108029000000000,2,0,0,12.85,3.0,75.0
1,30,15.000000,3,17,20,1551108029000000000,2,0,0,12.85,3.0,75.0
2,54,60.606061,20,13,33,1551108029000000000,2,0,0,12.85,3.0,75.0
3,108,0.000000,0,40,40,1551108029000000000,2,0,0,12.85,3.0,75.0
4,56,60.000000,24,16,40,1551108029000000000,2,0,0,12.85,3.0,75.0

In [66]:
df = shuffle(df)
firstModelData = df[df["number"] == 42]
firstModelData["last_update"] = pd.to_numeric(pd.to_datetime(df["last_update"]))
dfTrain, dfTest = train_test_split(firstModelData, test_size=0.3)

D:\HDip\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [67]:
dfTrain.head()

,number,available_bikes_percentage,available_bikes,available_bike_stands,bikestands,last_update,weekday,overview,description,temperature,wind_speed,clouds
231650,42,0.000000,0,30,30,1551773632000000000,3,4,7,4.85,7.0,40.0
623195,42,46.666667,14,16,30,1552816956000000000,1,0,1,3.85,6.0,40.0
133792,42,63.333333,19,11,30,1551512996000000000,7,0,2,4.85,2.0,20.0
831228,42,80.000000,24,6,30,1553371384000000000,7,1,3,5.85,2.0,0.0
148369,42,40.000000,12,18,30,1551551815000000000,7,4,6,7.85,7.0,40.0

In [68]:
continuous = ["weekday", "temperature", "clouds", "overview", "description"]

In [69]:
model = LinearRegression()
xTrain = dfTrain[continuous]
yTrain = dfTrain["available_bikes"]
model.fit(xTrain, yTrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [70]:
test = model.predict(dfTest[continuous])

In [71]:
actualVsPredicted = pd.DataFrame()

In [72]:
for i in range(0, len(test)):
    test[i] = test[i].round()

In [73]:
actualVsPredicted["Actual"] = dfTest["available_bikes"]

In [74]:
actualVsPredicted["Prediction"] = test

In [75]:
dfTest.head()

,number,available_bikes_percentage,available_bikes,available_bike_stands,bikestands,last_update,weekday,overview,description,temperature,wind_speed,clouds
559463,42,0.000000,0,30,30,1552647164000000000,6,4,11,8.85,11.0,75.0
680825,42,60.000000,18,12,30,1552970404000000000,3,0,0,5.85,4.0,75.0
434824,42,30.000000,9,21,30,1552315146000000000,2,0,0,7.85,5.0,75.0
408043,42,40.000000,12,18,30,1552243748000000000,1,4,6,1.85,7.0,75.0
57065,42,66.666667,20,10,30,1551248362000000000,4,2,4,0.85,1.0,20.0

In [76]:
actualVsPredicted.head()

        Actual  Prediction
559463       0        14.0
680825      18        15.0
434824       9        12.0
408043      12        15.0
57065       20        17.0

In [77]:
print("Accuracy Score:", metrics.accuracy_score(actualVsPredicted["Actual"], actualVsPredicted["Prediction"])*100, "\n")
print("Root Mean Squared:", metrics.r2_score(actualVsPredicted["Actual"], actualVsPredicted["Prediction"]), "\n")
print("Mean Squared Error:", metrics.mean_squared_error(actualVsPredicted["Actual"], actualVsPredicted["Prediction"]), "\n")
print("Mean Absolute Error:", metrics.mean_absolute_error(actualVsPredicted["Actual"], actualVsPredicted["Prediction"]), "\n")

Accuracy Score: 1.370967741935484

Root Mean Squared: 0.11333536955113177

Mean Squared Error: 96.80120967741935

Mean Absolute Error: 8.6875

Given that the low accuracy score and r squared value, coupled with a high mean sqaured error and absolute error, it might be a good idea to evaluate other models.
Since we are predicting numeric values, random forests or decision trees might be the way forward.

# TomM's Machine Learning

### Import software tools for Random Forest and Label encoder (to make categorical features numerical).

In [78]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

D:\HDip\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

### A dictionary will be created to hold the prediction model for each station. The Random Forest model will be tested against the Decision Tree model, and the most accurate will be model overall will be used.

In [79]:
# Create a dictionary to hold the prediction model for each station
modelDict = {}
# Used for loop number in print statement
j=1

# Run the code for each unique bikestand number
for i in df.number.unique():
    df = df.loc[df['number'] == i]
    
    # Get the columns which will be used in the data prediction model. 
    df = df[["available_bikes","last_update","weekday", "overview", "description", "temperature", "wind_speed", "clouds" ]]
    continuous_columns = df[["available_bikes", "last_update","temperature", "wind_speed", "clouds"]].columns
    category_columns = ["weekday", "overview", "description"]
    
    # Use Label Encoder to change categorical features to numerical.
    df[category_columns]= df[category_columns].apply(le.fit_transform)
    
    # Separate descriptive features from the target feature.
    describe = [x for x in df.columns.values if x not in ['available_bikes']]
    
    # X is the descriptive features, y is the target feature.
    X = pd.concat([df[describe]], axis = 1)
    y = df.available_bikes
    
    # Create a 70/30 split between training and test data.
    X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=7)
    
    # Create a decision tree and random forest data prediction model
    decision_tree = DecisionTreeClassifier()
    random_forest = RandomForestClassifier(n_estimators=100, max_features='auto', oob_score=True, random_state=1)
    
    # Train the models
    decision_tree.fit(X_train, y_train)
    random_forest.fit(X_train, y_train)

    # Predict on the test data
    dec_predictions = decision_tree.predict(X_test)
    for_predictions = random_forest.predict(X_test)

    # Print accuracy scores for model prediction, along with loop number and bikestand number
    print("\nStations checked out of 113: ",j, "\nBikestand Number: ", i,
        "\nDecision Tree\nAccuracy: ", metrics.accuracy_score(y_test, dec_predictions), "\nRoot Mean Squared: ",
          metrics.r2_score(y_test, dec_predictions), "\nMean Squared Error: ", 
          metrics.mean_squared_error(y_test, dec_predictions), "\nMean Absolute Error: ", metrics.mean_absolute_error(y_test, dec_predictions), "\n")
    print()     
    print("Stations checked out of 113: ",j, "\nBikestand Number: ", i,
        "\nRandom Forest\nAccuracy: ", metrics.accuracy_score(y_test, for_predictions), "\nRoot Mean Squared: ",
          metrics.r2_score(y_test, for_predictions), "\nMean Squared Error: ", 
          metrics.mean_squared_error(y_test, for_predictions), "\nMean Absolute Error: ", metrics.mean_absolute_error(y_test, for_predictions), "\n")
         
    print("________________________________________________________________") 
    
    # Increment j for denoting the loop number.
    j= j+1

    # Reread df to reset all columns for next for loop.
    df = pd.read_csv("NewDbADT.csv")
    
    # Decision trees were very slightly more accurate, so that model will be used to populate the dictionary.
    dt_pred = decision_tree
    modelDict.update({ i : dt_pred} )

Stations checked out of 113:  1
Bikestand Number:  17
Decision Tree
Accuracy:  0.8012096774193549
Root Mean Squared:  0.9796850163259772
Mean Squared Error:  0.3842741935483871
Mean Absolute Error:  0.25201612903225806


Stations checked out of 113:  1
Bikestand Number:  17
Random Forest
Accuracy:  0.8016129032258065
Root Mean Squared:  0.9794078969264364
Mean Squared Error:  0.3895161290322581
Mean Absolute Error:  0.2532258064516129

________________________________________________________________

Stations checked out of 113:  2
Bikestand Number:  12
Decision Tree
Accuracy:  0.8149193548387097
Root Mean Squared:  0.9848796032109086
Mean Squared Error:  0.48024193548387095
Mean Absolute Error:  0.24637096774193548


Stations checked out of 113:  2
Bikestand Number:  12
Random Forest
Accuracy:  0.8137096774193548
Root Mean Squared:  0.9857048137829414
Mean Squared Error:  0.45403225806451614
Mean Absolute Error:  0.2435483870967742

________________________________________________________________

Stations checked out of 113:  3
Bikestand Number:  57
Decision Tree
Accuracy:  0.7899193548387097
Root Mean Squared:  0.9915766947043136
Mean Squared Error:  0.5600806451612903
Mean Absolute Error:  0.294758064516129


Stations checked out of 113:  3
Bikestand Number:  57
Random Forest
Accuracy:  0.7903225806451613
Root Mean Squared:  0.991394765864234
Mean Squared Error:  0.5721774193548387
Mean Absolute Error:  0.2963709677419355

________________________________________________________________

Stations checked out of 113:  4
Bikestand Number:  77
Decision Tree
Accuracy:  0.7516129032258064
Root Mean Squared:  0.9877079967470588
Mean Squared Error:  0.9806451612903225
Mean Absolute Error:  0.3443548387096774


Stations checked out of 113:  4
Bikestand Number:  77
Random Forest
Accuracy:  0.744758064516129
Root Mean Squared:  0.9875816398057251
Mean Squared Error:  0.9907258064516129
Mean Absolute Error:  0.3528225806451613

________________________________________________________________

Stations checked out of 113:  5
Bikestand Number:  51
Decision Tree
Accuracy:  0.7487903225806452
Root Mean Squared:  0.9936787508215322
Mean Squared Error:  0.8237903225806451
Mean Absolute Error:  0.3536290322580645


Stations checked out of 113:  5
Bikestand Number:  51
Random Forest
Accuracy:  0.742741935483871
Root Mean Squared:  0.9911292112605644
Mean Squared Error:  1.1560483870967742
Mean Absolute Error:  0.3818548387096774

________________________________________________________________

Stations checked out of 113:  6
Bikestand Number:  9
Decision Tree
Accuracy:  0.5596774193548387
Root Mean Squared:  0.958249363187876
Mean Squared Error:  2.870967741935484
Mean Absolute Error:  0.839516129032258


Stations checked out of 113:  6
Bikestand Number:  9
Random Forest
Accuracy:  0.5600806451612903
Root Mean Squared:  0.9599791999659064
Mean Squared Error:  2.752016129032258
Mean Absolute Error:  0.8326612903225806

________________________________________________________________

Stations checked out of 113:  7
Bikestand Number:  22
Decision Tree
Accuracy:  0.6556451612903226
Root Mean Squared:  0.9653638582497893
Mean Squared Error:  1.3661290322580646
Mean Absolute Error:  0.5459677419354839


Stations checked out of 113:  7
Bikestand Number:  22
Random Forest
Accuracy:  0.6495967741935483
Root Mean Squared:  0.9682059029388561
Mean Squared Error:  1.2540322580645162
Mean Absolute Error:  0.5483870967741935

________________________________________________________________

Stations checked out of 113:  8
Bikestand Number:  15
Decision Tree
Accuracy:  0.8116935483870967
Root Mean Squared:  0.9689734199529341
Mean Squared Error:  0.41008064516129034
Mean Absolute Error:  0.2375


Stations checked out of 113:  8
Bikestand Number:  15
Random Forest
Accuracy:  0.8120967741935484
Root Mean Squared:  0.9690039278979165
Mean Squared Error:  0.4096774193548387
Mean Absolute Error:  0.23709677419354838

________________________________________________________________

Stations checked out of 113:  9
Bikestand Number:  97
Decision Tree
Accuracy:  0.7818548387096774
Root Mean Squared:  0.9959500005738141
Mean Squared Error:  0.6903225806451613
Mean Absolute Error:  0.3185483870967742


Stations checked out of 113:  9
Bikestand Number:  97
Random Forest
Accuracy:  0.775
Root Mean Squared:  0.9958482774573855
Mean Squared Error:  0.7076612903225806
Mean Absolute Error:  0.32620967741935486

________________________________________________________________

Stations checked out of 113:  10
Bikestand Number:  113
Decision Tree
Accuracy:  0.8387096774193549
Root Mean Squared:  0.9960692289709173
Mean Squared Error:  0.635483870967742
Mean Absolute Error:  0.25161290322580643


Stations checked out of 113:  10
Bikestand Number:  113
Random Forest
Accuracy:  0.8350806451612903
Root Mean Squared:  0.9958921447430843
Mean Squared Error:  0.6641129032258064
Mean Absolute Error:  0.25766129032258067

________________________________________________________________

Stations checked out of 113:  11
Bikestand Number:  49
Decision Tree
Accuracy:  0.6
Root Mean Squared:  0.98523112290318
Mean Squared Error:  2.424193548387097
Mean Absolute Error:  0.757258064516129


Stations checked out of 113:  11
Bikestand Number:  49
Random Forest
Accuracy:  0.5967741935483871
Root Mean Squared:  0.9849486177690925
Mean Squared Error:  2.4705645161290324
Mean Absolute Error:  0.7737903225806452

________________________________________________________________

Stations checked out of 113:  12
Bikestand Number:  96
Decision Tree
Accuracy:  0.9068548387096774
Root Mean Squared:  0.9947718505035479
Mean Squared Error:  0.20241935483870968
Mean Absolute Error:  0.12016129032258065


Stations checked out of 113:  12
Bikestand Number:  96
Random Forest
Accuracy:  0.9048387096774193
Root Mean Squared:  0.9948239237057037
Mean Squared Error:  0.20040322580645162
Mean Absolute Error:  0.12137096774193548

________________________________________________________________

Stations checked out of 113:  13
Bikestand Number:  45
Decision Tree
Accuracy:  0.7919354838709678
Root Mean Squared:  0.9958451754204826
Mean Squared Error:  0.3959677419354839
Mean Absolute Error:  0.25887096774193546


Stations checked out of 113:  13
Bikestand Number:  45
Random Forest
Accuracy:  0.7838709677419354
Root Mean Squared:  0.9957097839881561
Mean Squared Error:  0.4088709677419355
Mean Absolute Error:  0.2685483870967742

________________________________________________________________

Stations checked out of 113:  14
Bikestand Number:  28
Decision Tree
Accuracy:  0.692741935483871
Root Mean Squared:  0.9706986553441636
Mean Squared Error:  2.335483870967742
Mean Absolute Error:  0.5580645161290323


Stations checked out of 113:  14
Bikestand Number:  28
Random Forest
Accuracy:  0.6846774193548387
Root Mean Squared:  0.9701168779554513
Mean Squared Error:  2.3818548387096774
Mean Absolute Error:  0.569758064516129

________________________________________________________________

Stations checked out of 113:  15
Bikestand Number:  46
Decision Tree
Accuracy:  0.7076612903225806
Root Mean Squared:  0.9869713792098667
Mean Squared Error:  0.6306451612903226
Mean Absolute Error:  0.38467741935483873


Stations checked out of 113:  15
Bikestand Number:  46
Random Forest
Accuracy:  0.7104838709677419
Root Mean Squared:  0.9866215057615383
Mean Squared Error:  0.6475806451612903
Mean Absolute Error:  0.38629032258064516

________________________________________________________________

Stations checked out of 113:  16
Bikestand Number:  100
Decision Tree
Accuracy:  0.7266129032258064
Root Mean Squared:  0.9374552078490919
Mean Squared Error:  4.696370967741935
Mean Absolute Error:  0.7673387096774194


Stations checked out of 113:  16
Bikestand Number:  100
Random Forest
Accuracy:  0.7233870967741935
Root Mean Squared:  0.934340587822688
Mean Squared Error:  4.930241935483871
Mean Absolute Error:  0.790725806451613

________________________________________________________________

Stations checked out of 113:  17
Bikestand Number:  93
Decision Tree
Accuracy:  0.9294354838709677
Root Mean Squared:  0.9927958204069961
Mean Squared Error:  1.8399193548387096
Mean Absolute Error:  0.2754032258064516


Stations checked out of 113:  17
Bikestand Number:  93
Random Forest
Accuracy:  0.927016129032258
Root Mean Squared:  0.9919290453474828
Mean Squared Error:  2.0612903225806454
Mean Absolute Error:  0.2903225806451613

________________________________________________________________

Stations checked out of 113:  18
Bikestand Number:  88
Decision Tree
Accuracy:  0.7560483870967742
Root Mean Squared:  0.98901716963071
Mean Squared Error:  1.1653225806451613
Mean Absolute Error:  0.3556451612903226


Stations checked out of 113:  18
Bikestand Number:  88
Random Forest
Accuracy:  0.7584677419354838
Root Mean Squared:  0.9944629813674548
Mean Squared Error:  0.5875
Mean Absolute Error:  0.3294354838709677

________________________________________________________________

Stations checked out of 113:  19
Bikestand Number:  18
Decision Tree
Accuracy:  0.6129032258064516
Root Mean Squared:  0.979817750106039
Mean Squared Error:  1.697983870967742
Mean Absolute Error:  0.6391129032258065


Stations checked out of 113:  19
Bikestand Number:  18
Random Forest
Accuracy:  0.6120967741935484
Root Mean Squared:  0.9831055732899044
Mean Squared Error:  1.4213709677419355
Mean Absolute Error:  0.619758064516129

________________________________________________________________

Stations checked out of 113:  20
Bikestand Number:  76
Decision Tree
Accuracy:  0.7975806451612903
Root Mean Squared:  0.9939463860789035
Mean Squared Error:  0.8032258064516129
Mean Absolute Error:  0.2967741935483871


Stations checked out of 113:  20
Bikestand Number:  76
Random Forest
Accuracy:  0.7943548387096774
Root Mean Squared:  0.9937032690539599
Mean Squared Error:  0.8354838709677419
Mean Absolute Error:  0.3056451612903226

________________________________________________________________

Stations checked out of 113:  21
Bikestand Number:  53
Decision Tree
Accuracy:  0.8399193548387097
Root Mean Squared:  0.9914218747310164
Mean Squared Error:  0.7879032258064517
Mean Absolute Error:  0.2669354838709677


Stations checked out of 113:  21
Bikestand Number:  53
Random Forest
Accuracy:  0.8407258064516129
Root Mean Squared:  0.9912023730608787
Mean Squared Error:  0.8080645161290323
Mean Absolute Error:  0.2701612903225806

________________________________________________________________

Stations checked out of 113:  22
Bikestand Number:  23
Decision Tree
Accuracy:  0.6580645161290323
Root Mean Squared:  0.9830477133911458
Mean Squared Error:  1.6044354838709678
Mean Absolute Error:  0.5673387096774194


Stations checked out of 113:  22
Bikestand Number:  23
Random Forest
Accuracy:  0.6532258064516129
Root Mean Squared:  0.9832394331441989
Mean Squared Error:  1.586290322580645
Mean Absolute Error:  0.5725806451612904

________________________________________________________________

Stations checked out of 113:  23
Bikestand Number:  47
Decision Tree
Accuracy:  0.807258064516129
Root Mean Squared:  0.9922933579645291
Mean Squared Error:  1.5040322580645162
Mean Absolute Error:  0.3588709677419355


Stations checked out of 113:  23
Bikestand Number:  47
Random Forest
Accuracy:  0.8040322580645162
Root Mean Squared:  0.991999968374975
Mean Squared Error:  1.5612903225806452
Mean Absolute Error:  0.36935483870967745

________________________________________________________________

Stations checked out of 113:  24
Bikestand Number:  92
Decision Tree
Accuracy:  0.782258064516129
Root Mean Squared:  0.9833540941390787
Mean Squared Error:  3.5504032258064515
Mean Absolute Error:  0.494758064516129


Stations checked out of 113:  24
Bikestand Number:  92
Random Forest
Accuracy:  0.782258064516129
Root Mean Squared:  0.9903206089712757
Mean Squared Error:  2.064516129032258
Mean Absolute Error:  0.43790322580645163

________________________________________________________________

Stations checked out of 113:  25
Bikestand Number:  36
Decision Tree
Accuracy:  0.7052419354838709
Root Mean Squared:  0.9876248165399476
Mean Squared Error:  2.020564516129032
Mean Absolute Error:  0.5286290322580646


Stations checked out of 113:  25
Bikestand Number:  36
Random Forest
Accuracy:  0.7084677419354839
Root Mean Squared:  0.9888793751505456
Mean Squared Error:  1.8157258064516129
Mean Absolute Error:  0.5181451612903226

________________________________________________________________

Stations checked out of 113:  26
Bikestand Number:  106
Decision Tree
Accuracy:  0.8846774193548387
Root Mean Squared:  0.9901370616517079
Mean Squared Error:  0.49435483870967745
Mean Absolute Error:  0.17016129032258065


Stations checked out of 113:  26
Bikestand Number:  106
Random Forest
Accuracy:  0.8818548387096774
Root Mean Squared:  0.9898554932649296
Mean Squared Error:  0.5084677419354838
Mean Absolute Error:  0.17620967741935484

________________________________________________________________

Stations checked out of 113:  27
Bikestand Number:  55
Decision Tree
Accuracy:  0.8189516129032258
Root Mean Squared:  0.9920403503301158
Mean Squared Error:  0.7475806451612903
Mean Absolute Error:  0.29596774193548386


Stations checked out of 113:  27
Bikestand Number:  55
Random Forest
Accuracy:  0.8145161290322581
Root Mean Squared:  0.9911430651192173
Mean Squared Error:  0.8318548387096775
Mean Absolute Error:  0.31088709677419357

________________________________________________________________

Stations checked out of 113:  28
Bikestand Number:  48
Decision Tree
Accuracy:  0.6060483870967742
Root Mean Squared:  0.9889001226281232
Mean Squared Error:  1.7766129032258065
Mean Absolute Error:  0.65


Stations checked out of 113:  28
Bikestand Number:  48
Random Forest
Accuracy:  0.6068548387096774
Root Mean Squared:  0.988978219813445
Mean Squared Error:  1.7641129032258065
Mean Absolute Error:  0.6504032258064516

________________________________________________________________

Stations checked out of 113:  29
Bikestand Number:  85
Decision Tree
Accuracy:  0.8112903225806452
Root Mean Squared:  0.9946325615626436
Mean Squared Error:  0.7149193548387097
Mean Absolute Error:  0.28588709677419355


Stations checked out of 113:  29
Bikestand Number:  85
Random Forest
Accuracy:  0.805241935483871
Root Mean Squared:  0.9947052172436907
Mean Squared Error:  0.7052419354838709
Mean Absolute Error:  0.294758064516129

________________________________________________________________

Stations checked out of 113:  30
Bikestand Number:  43
Decision Tree
Accuracy:  0.6919354838709677
Root Mean Squared:  0.9806832094487802
Mean Squared Error:  2.1608870967741933
Mean Absolute Error:  0.569758064516129


Stations checked out of 113:  30
Bikestand Number:  43
Random Forest
Accuracy:  0.6923387096774194
Root Mean Squared:  0.9818546886294381
Mean Squared Error:  2.0298387096774193
Mean Absolute Error:  0.5661290322580645

________________________________________________________________

Stations checked out of 113:  31
Bikestand Number:  38
Decision Tree
Accuracy:  0.5604838709677419
Root Mean Squared:  0.987214337510711
Mean Squared Error:  1.9129032258064516
Mean Absolute Error:  0.7653225806451613


Stations checked out of 113:  31
Bikestand Number:  38
Random Forest
Accuracy:  0.5556451612903226
Root Mean Squared:  0.9868046788474791
Mean Squared Error:  1.9741935483870967
Mean Absolute Error:  0.7766129032258065

________________________________________________________________

Stations checked out of 113:  32
Bikestand Number:  56
Decision Tree
Accuracy:  0.5975806451612903
Root Mean Squared:  0.9681068760394559
Mean Squared Error:  4.725
Mean Absolute Error:  0.885483870967742


Stations checked out of 113:  32
Bikestand Number:  56
Random Forest
Accuracy:  0.597983870967742
Root Mean Squared:  0.9697507953833856
Mean Squared Error:  4.481451612903226
Mean Absolute Error:  0.8685483870967742

________________________________________________________________

Stations checked out of 113:  33
Bikestand Number:  25
Decision Tree
Accuracy:  0.7798387096774193
Root Mean Squared:  0.9901797610466184
Mean Squared Error:  0.9580645161290322
Mean Absolute Error:  0.34919354838709676


Stations checked out of 113:  33
Bikestand Number:  25
Random Forest
Accuracy:  0.7798387096774193
Root Mean Squared:  0.9895763288550387
Mean Squared Error:  1.0169354838709677
Mean Absolute Error:  0.357258064516129

________________________________________________________________

Stations checked out of 113:  34
Bikestand Number:  31
Decision Tree
Accuracy:  0.6157258064516129
Root Mean Squared:  0.9527776446230043
Mean Squared Error:  1.3737903225806452
Mean Absolute Error:  0.5907258064516129


Stations checked out of 113:  34
Bikestand Number:  31
Random Forest
Accuracy:  0.6137096774193549
Root Mean Squared:  0.9529578297183671
Mean Squared Error:  1.3685483870967743
Mean Absolute Error:  0.592741935483871

________________________________________________________________

Stations checked out of 113:  35
Bikestand Number:  72
Decision Tree
Accuracy:  0.7181451612903226
Root Mean Squared:  0.9814012998227133
Mean Squared Error:  1.2850806451612904
Mean Absolute Error:  0.4383064516129032


Stations checked out of 113:  35
Bikestand Number:  72
Random Forest
Accuracy:  0.7104838709677419
Root Mean Squared:  0.9806251381899618
Mean Squared Error:  1.3387096774193548
Mean Absolute Error:  0.45725806451612905

________________________________________________________________

Stations checked out of 113:  36
Bikestand Number:  59
Decision Tree
Accuracy:  0.8274193548387097
Root Mean Squared:  0.9689606746114291
Mean Squared Error:  0.37459677419354837
Mean Absolute Error:  0.2213709677419355


Stations checked out of 113:  36
Bikestand Number:  59
Random Forest
Accuracy:  0.8262096774193548
Root Mean Squared:  0.9673235089020212
Mean Squared Error:  0.3943548387096774
Mean Absolute Error:  0.22580645161290322

________________________________________________________________

Stations checked out of 113:  37
Bikestand Number:  98
Decision Tree
Accuracy:  0.7991935483870968
Root Mean Squared:  0.9956429804471386
Mean Squared Error:  0.5774193548387097
Mean Absolute Error:  0.27903225806451615


Stations checked out of 113:  37
Bikestand Number:  98
Random Forest
Accuracy:  0.7947580645161291
Root Mean Squared:  0.9946267482329936
Mean Squared Error:  0.7120967741935483
Mean Absolute Error:  0.29354838709677417

________________________________________________________________

Stations checked out of 113:  38
Bikestand Number:  107
Decision Tree
Accuracy:  0.8028225806451613
Root Mean Squared:  0.9915841923136497
Mean Squared Error:  0.6975806451612904
Mean Absolute Error:  0.267741935483871


Stations checked out of 113:  38
Bikestand Number:  107
Random Forest
Accuracy:  0.8012096774193549
Root Mean Squared:  0.9929171005830485
Mean Squared Error:  0.5870967741935483
Mean Absolute Error:  0.2645161290322581

________________________________________________________________

Stations checked out of 113:  39
Bikestand Number:  101
Decision Tree
Accuracy:  0.782258064516129
Root Mean Squared:  0.9925487950461319
Mean Squared Error:  0.521774193548387
Mean Absolute Error:  0.27338709677419354


Stations checked out of 113:  39
Bikestand Number:  101
Random Forest
Accuracy:  0.7798387096774193
Root Mean Squared:  0.9924393878636563
Mean Squared Error:  0.5294354838709677
Mean Absolute Error:  0.2778225806451613

________________________________________________________________

Stations checked out of 113:  40
Bikestand Number:  8
Decision Tree
Accuracy:  0.6096774193548387
Root Mean Squared:  0.9789130199249647
Mean Squared Error:  1.7475806451612903
Mean Absolute Error:  0.6846774193548387


Stations checked out of 113:  40
Bikestand Number:  8
Random Forest
Accuracy:  0.6096774193548387
Root Mean Squared:  0.9786405531773408
Mean Squared Error:  1.7701612903225807
Mean Absolute Error:  0.6854838709677419

________________________________________________________________

Stations checked out of 113:  41
Bikestand Number:  34
Decision Tree
Accuracy:  0.5560483870967742
Root Mean Squared:  0.9533486364167963
Mean Squared Error:  4.509274193548387
Mean Absolute Error:  0.9818548387096774


Stations checked out of 113:  41
Bikestand Number:  34
Random Forest
Accuracy:  0.557258064516129
Root Mean Squared:  0.96117879017211
Mean Squared Error:  3.7524193548387097
Mean Absolute Error:  0.9475806451612904

________________________________________________________________

Stations checked out of 113:  42
Bikestand Number:  10
Decision Tree
Accuracy:  0.6754032258064516
Root Mean Squared:  0.9730484800132476
Mean Squared Error:  0.8758064516129033
Mean Absolute Error:  0.4693548387096774


Stations checked out of 113:  42
Bikestand Number:  10
Random Forest
Accuracy:  0.6713709677419355
Root Mean Squared:  0.9724652749306614
Mean Squared Error:  0.894758064516129
Mean Absolute Error:  0.47701612903225804

________________________________________________________________

Stations checked out of 113:  43
Bikestand Number:  84
Decision Tree
Accuracy:  0.8036290322580645
Root Mean Squared:  0.994676600214471
Mean Squared Error:  0.6620967741935484
Mean Absolute Error:  0.2846774193548387


Stations checked out of 113:  43
Bikestand Number:  84
Random Forest
Accuracy:  0.7979838709677419
Root Mean Squared:  0.9945177411465715
Mean Squared Error:  0.6818548387096774
Mean Absolute Error:  0.2915322580645161

________________________________________________________________

Stations checked out of 113:  44
Bikestand Number:  14
Decision Tree
Accuracy:  0.5794354838709678
Root Mean Squared:  0.978449575631863
Mean Squared Error:  2.3044354838709675
Mean Absolute Error:  0.7616935483870968


Stations checked out of 113:  44
Bikestand Number:  14
Random Forest
Accuracy:  0.5721774193548387
Root Mean Squared:  0.9794149139762625
Mean Squared Error:  2.201209677419355
Mean Absolute Error:  0.7673387096774194

________________________________________________________________

Stations checked out of 113:  45
Bikestand Number:  54
Decision Tree
Accuracy:  0.7689516129032258
Root Mean Squared:  0.9901423690326546
Mean Squared Error:  0.6008064516129032
Mean Absolute Error:  0.31451612903225806


Stations checked out of 113:  45
Bikestand Number:  54
Random Forest
Accuracy:  0.7681451612903226
Root Mean Squared:  0.9908767294604233
Mean Squared Error:  0.5560483870967742
Mean Absolute Error:  0.3157258064516129

________________________________________________________________

Stations checked out of 113:  46
Bikestand Number:  65
Decision Tree
Accuracy:  0.7451612903225806
Root Mean Squared:  0.9871512915188372
Mean Squared Error:  1.9161290322580644
Mean Absolute Error:  0.49516129032258066


Stations checked out of 113:  46
Bikestand Number:  65
Random Forest
Accuracy:  0.7439516129032258
Root Mean Squared:  0.9851828866841809
Mean Squared Error:  2.2096774193548385
Mean Absolute Error:  0.5193548387096775

________________________________________________________________

Stations checked out of 113:  47
Bikestand Number:  24
Decision Tree
Accuracy:  0.6076612903225806
Root Mean Squared:  0.9698167130542661
Mean Squared Error:  1.3326612903225807
Mean Absolute Error:  0.6068548387096774


Stations checked out of 113:  47
Bikestand Number:  24
Random Forest
Accuracy:  0.6024193548387097
Root Mean Squared:  0.9683920253799743
Mean Squared Error:  1.3955645161290322
Mean Absolute Error:  0.6221774193548387

________________________________________________________________

Stations checked out of 113:  48
Bikestand Number:  37
Decision Tree
Accuracy:  0.8314516129032258
Root Mean Squared:  0.9858451576973863
Mean Squared Error:  0.49435483870967745
Mean Absolute Error:  0.2314516129032258


Stations checked out of 113:  48
Bikestand Number:  37
Random Forest
Accuracy:  0.8278225806451613
Root Mean Squared:  0.9852794258272166
Mean Squared Error:  0.5141129032258065
Mean Absolute Error:  0.2375

________________________________________________________________

Stations checked out of 113:  49
Bikestand Number:  21
Decision Tree
Accuracy:  0.6754032258064516
Root Mean Squared:  0.9871798060654776
Mean Squared Error:  1.414516129032258
Mean Absolute Error:  0.5290322580645161


Stations checked out of 113:  49
Bikestand Number:  21
Random Forest
Accuracy:  0.6705645161290322
Root Mean Squared:  0.9873442612328247
Mean Squared Error:  1.3963709677419356
Mean Absolute Error:  0.5342741935483871

________________________________________________________________

Stations checked out of 113:  50
Bikestand Number:  95
Decision Tree
Accuracy:  0.7653225806451613
Root Mean Squared:  0.9945529950689556
Mean Squared Error:  1.0314516129032258
Mean Absolute Error:  0.3580645161290323


Stations checked out of 113:  50
Bikestand Number:  95
Random Forest
Accuracy:  0.7600806451612904
Root Mean Squared:  0.9957837882081829
Mean Squared Error:  0.7983870967741935
Mean Absolute Error:  0.3564516129032258

________________________________________________________________

Stations checked out of 113:  51
Bikestand Number:  30
Decision Tree
Accuracy:  0.8286290322580645
Root Mean Squared:  0.9459451381642181
Mean Squared Error:  0.6028225806451613
Mean Absolute Error:  0.24153225806451614


Stations checked out of 113:  51
Bikestand Number:  30
Random Forest
Accuracy:  0.8270161290322581
Root Mean Squared:  0.9475360504858064
Mean Squared Error:  0.5850806451612903
Mean Absolute Error:  0.23830645161290323

________________________________________________________________

Stations checked out of 113:  52
Bikestand Number:  91
Decision Tree
Accuracy:  0.6036290322580645
Root Mean Squared:  0.9682520379784866
Mean Squared Error:  1.9798387096774193
Mean Absolute Error:  0.6596774193548387


Stations checked out of 113:  52
Bikestand Number:  91
Random Forest
Accuracy:  0.5967741935483871
Root Mean Squared:  0.9669329780492831
Mean Squared Error:  2.0620967741935483
Mean Absolute Error:  0.682258064516129

________________________________________________________________

Stations checked out of 113:  53
Bikestand Number:  19
Decision Tree
Accuracy:  0.5826612903225806
Root Mean Squared:  0.9631268460063764
Mean Squared Error:  3.369758064516129
Mean Absolute Error:  0.8495967741935484


Stations checked out of 113:  53
Bikestand Number:  19
Random Forest
Accuracy:  0.5794354838709678
Root Mean Squared:  0.9623061679349616
Mean Squared Error:  3.444758064516129
Mean Absolute Error:  0.8625

________________________________________________________________

Stations checked out of 113:  54
Bikestand Number:  94
Decision Tree
Accuracy:  0.9338709677419355
Root Mean Squared:  0.9877900768668281
Mean Squared Error:  2.159274193548387
Mean Absolute Error:  0.2221774193548387


Stations checked out of 113:  54
Bikestand Number:  94
Random Forest
Accuracy:  0.9298387096774193
Root Mean Squared:  0.9863855366894174
Mean Squared Error:  2.4076612903225807
Mean Absolute Error:  0.23266129032258065

________________________________________________________________

Stations checked out of 113:  55
Bikestand Number:  99
Decision Tree
Accuracy:  0.8100806451612903
Root Mean Squared:  0.9955596547567493
Mean Squared Error:  0.5745967741935484
Mean Absolute Error:  0.2745967741935484


Stations checked out of 113:  55
Bikestand Number:  99
Random Forest
Accuracy:  0.8080645161290323
Root Mean Squared:  0.9954225493597648
Mean Squared Error:  0.5923387096774193
Mean Absolute Error:  0.2794354838709677

________________________________________________________________

Stations checked out of 113:  56
Bikestand Number:  89
Decision Tree
Accuracy:  0.8213709677419355
Root Mean Squared:  0.9919601506926728
Mean Squared Error:  0.7133064516129032
Mean Absolute Error:  0.2778225806451613


Stations checked out of 113:  56
Bikestand Number:  89
Random Forest
Accuracy:  0.8149193548387097
Root Mean Squared:  0.9924464502268074
Mean Squared Error:  0.6701612903225806
Mean Absolute Error:  0.2806451612903226

________________________________________________________________

Stations checked out of 113:  57
Bikestand Number:  78
Decision Tree
Accuracy:  0.7254032258064517
Root Mean Squared:  0.9901491168731097
Mean Squared Error:  1.327016129032258
Mean Absolute Error:  0.4350806451612903


Stations checked out of 113:  57
Bikestand Number:  78
Random Forest
Accuracy:  0.7193548387096774
Root Mean Squared:  0.9900712916037997
Mean Squared Error:  1.3375
Mean Absolute Error:  0.44475806451612904

________________________________________________________________

Stations checked out of 113:  58
Bikestand Number:  67
Decision Tree
Accuracy:  0.6491935483870968
Root Mean Squared:  0.9804817181183195
Mean Squared Error:  1.7459677419354838
Mean Absolute Error:  0.592741935483871


Stations checked out of 113:  58
Bikestand Number:  67
Random Forest
Accuracy:  0.6443548387096775
Root Mean Squared:  0.9786921666386366
Mean Squared Error:  1.9060483870967742
Mean Absolute Error:  0.6084677419354839

________________________________________________________________

Stations checked out of 113:  59
Bikestand Number:  11
Decision Tree
Accuracy:  0.8028225806451613
Root Mean Squared:  0.9767139788769296
Mean Squared Error:  1.4693548387096773
Mean Absolute Error:  0.3717741935483871


Stations checked out of 113:  59
Bikestand Number:  11
Random Forest
Accuracy:  0.8
Root Mean Squared:  0.9774488560528772
Mean Squared Error:  1.422983870967742
Mean Absolute Error:  0.37459677419354837

________________________________________________________________

Stations checked out of 113:  60
Bikestand Number:  33
Decision Tree
Accuracy:  0.5451612903225806
Root Mean Squared:  0.9669398722611112
Mean Squared Error:  2.006048387096774
Mean Absolute Error:  0.7544354838709677


Stations checked out of 113:  60
Bikestand Number:  33
Random Forest
Accuracy:  0.5419354838709678
Root Mean Squared:  0.964687131898602
Mean Squared Error:  2.142741935483871
Mean Absolute Error:  0.7693548387096775

________________________________________________________________

Stations checked out of 113:  61
Bikestand Number:  83
Decision Tree
Accuracy:  0.7971774193548387
Root Mean Squared:  0.9943219470262984
Mean Squared Error:  0.8370967741935483
Mean Absolute Error:  0.32016129032258067


Stations checked out of 113:  61
Bikestand Number:  83
Random Forest
Accuracy:  0.7923387096774194
Root Mean Squared:  0.9941769870997058
Mean Squared Error:  0.8584677419354839
Mean Absolute Error:  0.3286290322580645

________________________________________________________________

Stations checked out of 113:  62
Bikestand Number:  82
Decision Tree
Accuracy:  0.8875
Root Mean Squared:  0.9952763678993874
Mean Squared Error:  0.21411290322580645
Mean Absolute Error:  0.13911290322580644


Stations checked out of 113:  62
Bikestand Number:  82
Random Forest
Accuracy:  0.885483870967742
Root Mean Squared:  0.9950361832163054
Mean Squared Error:  0.225
Mean Absolute Error:  0.1435483870967742

________________________________________________________________

Stations checked out of 113:  63
Bikestand Number:  73
Decision Tree
Accuracy:  0.7052419354838709
Root Mean Squared:  0.9836501543771882
Mean Squared Error:  1.397983870967742
Mean Absolute Error:  0.44717741935483873


Stations checked out of 113:  63
Bikestand Number:  73
Random Forest
Accuracy:  0.7008064516129032
Root Mean Squared:  0.9827635749202834
Mean Squared Error:  1.4737903225806452
Mean Absolute Error:  0.4576612903225806

________________________________________________________________

Stations checked out of 113:  64
Bikestand Number:  71
Decision Tree
Accuracy:  0.6693548387096774
Root Mean Squared:  0.9910857863716521
Mean Squared Error:  1.060483870967742
Mean Absolute Error:  0.48629032258064514


Stations checked out of 113:  64
Bikestand Number:  71
Random Forest
Accuracy:  0.6665322580645161
Root Mean Squared:  0.9911230701548885
Mean Squared Error:  1.0560483870967743
Mean Absolute Error:  0.4915322580645161

________________________________________________________________

Stations checked out of 113:  65
Bikestand Number:  32
Decision Tree
Accuracy:  0.6181451612903226
Root Mean Squared:  0.9633429131303949
Mean Squared Error:  2.8233870967741934
Mean Absolute Error:  0.7540322580645161


Stations checked out of 113:  65
Bikestand Number:  32
Random Forest
Accuracy:  0.6141129032258065
Root Mean Squared:  0.9613011730733902
Mean Squared Error:  2.9806451612903224
Mean Absolute Error:  0.7733870967741936

________________________________________________________________

Stations checked out of 113:  66
Bikestand Number:  112
Decision Tree
Accuracy:  0.660483870967742
Root Mean Squared:  0.9896483944083251
Mean Squared Error:  1.1778225806451612
Mean Absolute Error:  0.5028225806451613


Stations checked out of 113:  66
Bikestand Number:  112
Random Forest
Accuracy:  0.6592741935483871
Root Mean Squared:  0.9892373070243352
Mean Squared Error:  1.2245967741935484
Mean Absolute Error:  0.5141129032258065

________________________________________________________________

Stations checked out of 113:  67
Bikestand Number:  109
Decision Tree
Accuracy:  0.7935483870967742
Root Mean Squared:  0.9932972561388269
Mean Squared Error:  0.5544354838709677
Mean Absolute Error:  0.2762096774193548


Stations checked out of 113:  67
Bikestand Number:  109
Random Forest
Accuracy:  0.7870967741935484
Root Mean Squared:  0.9929414013738337
Mean Squared Error:  0.5838709677419355
Mean Absolute Error:  0.2879032258064516

________________________________________________________________

Stations checked out of 113:  68
Bikestand Number:  58
Decision Tree
Accuracy:  0.5931451612903226
Root Mean Squared:  0.9737474337523742
Mean Squared Error:  4.186693548387097
Mean Absolute Error:  0.8786290322580645


Stations checked out of 113:  68
Bikestand Number:  58
Random Forest
Accuracy:  0.5915322580645161
Root Mean Squared:  0.9749838302558018
Mean Squared Error:  3.9895161290322583
Mean Absolute Error:  0.8741935483870967

________________________________________________________________

Stations checked out of 113:  69
Bikestand Number:  90
Decision Tree
Accuracy:  0.7745967741935483
Root Mean Squared:  0.9930756277368542
Mean Squared Error:  1.2959677419354838
Mean Absolute Error:  0.41854838709677417


Stations checked out of 113:  69
Bikestand Number:  90
Random Forest
Accuracy:  0.7737903225806452
Root Mean Squared:  0.9930670099742367
Mean Squared Error:  1.2975806451612903
Mean Absolute Error:  0.42016129032258065

________________________________________________________________

Stations checked out of 113:  70
Bikestand Number:  35
Decision Tree
Accuracy:  0.652016129032258
Root Mean Squared:  0.9825764329577358
Mean Squared Error:  0.9467741935483871
Mean Absolute Error:  0.5016129032258064


Stations checked out of 113:  70
Bikestand Number:  35
Random Forest
Accuracy:  0.6544354838709677
Root Mean Squared:  0.9821905617966635
Mean Squared Error:  0.967741935483871
Mean Absolute Error:  0.5048387096774194

________________________________________________________________

Stations checked out of 113:  71
Bikestand Number:  41
Decision Tree
Accuracy:  0.7975806451612903
Root Mean Squared:  0.9759163996857274
Mean Squared Error:  0.6342741935483871
Mean Absolute Error:  0.2939516129032258


Stations checked out of 113:  71
Bikestand Number:  41
Random Forest
Accuracy:  0.7979838709677419
Root Mean Squared:  0.9788254168883413
Mean Squared Error:  0.5576612903225806
Mean Absolute Error:  0.2875

________________________________________________________________

Stations checked out of 113:  72
Bikestand Number:  115
Decision Tree
Accuracy:  0.7064516129032258
Root Mean Squared:  0.9894079751906412
Mean Squared Error:  1.2133064516129033
Mean Absolute Error:  0.46169354838709675


Stations checked out of 113:  72
Bikestand Number:  115
Random Forest
Accuracy:  0.7008064516129032
Root Mean Squared:  0.9892354895756
Mean Squared Error:  1.2330645161290323
Mean Absolute Error:  0.4717741935483871

________________________________________________________________

Stations checked out of 113:  73
Bikestand Number:  87
Decision Tree
Accuracy:  0.7991935483870968
Root Mean Squared:  0.9925536744247312
Mean Squared Error:  0.8435483870967742
Mean Absolute Error:  0.27741935483870966


Stations checked out of 113:  73
Bikestand Number:  87
Random Forest
Accuracy:  0.7967741935483871
Root Mean Squared:  0.9959386914524945
Mean Squared Error:  0.4600806451612903
Mean Absolute Error:  0.26411290322580644

________________________________________________________________

Stations checked out of 113:  74
Bikestand Number:  64
Decision Tree
Accuracy:  0.6959677419354838
Root Mean Squared:  0.9839472271590487
Mean Squared Error:  2.0044354838709677
Mean Absolute Error:  0.5487903225806452


Stations checked out of 113:  74
Bikestand Number:  64
Random Forest
Accuracy:  0.6931451612903226
Root Mean Squared:  0.9837179479653839
Mean Squared Error:  2.0330645161290324
Mean Absolute Error:  0.5540322580645162

________________________________________________________________

Stations checked out of 113:  75
Bikestand Number:  13
Decision Tree
Accuracy:  0.8028225806451613
Root Mean Squared:  0.9908322615127374
Mean Squared Error:  0.6754032258064516
Mean Absolute Error:  0.2979838709677419


Stations checked out of 113:  75
Bikestand Number:  13
Random Forest
Accuracy:  0.8012096774193549
Root Mean Squared:  0.9897923389380628
Mean Squared Error:  0.7520161290322581
Mean Absolute Error:  0.30766129032258066

________________________________________________________________

Stations checked out of 113:  76
Bikestand Number:  27
Decision Tree
Accuracy:  0.6987903225806451
Root Mean Squared:  0.9859699879302539
Mean Squared Error:  0.7947580645161291
Mean Absolute Error:  0.42782258064516127


Stations checked out of 113:  76
Bikestand Number:  27
Random Forest
Accuracy:  0.6935483870967742
Root Mean Squared:  0.9857849142043212
Mean Squared Error:  0.805241935483871
Mean Absolute Error:  0.4350806451612903

________________________________________________________________

Stations checked out of 113:  77
Bikestand Number:  62
Decision Tree
Accuracy:  0.7370967741935484
Root Mean Squared:  0.9941140537006949
Mean Squared Error:  1.1524193548387096
Mean Absolute Error:  0.4290322580645161


Stations checked out of 113:  77
Bikestand Number:  62
Random Forest
Accuracy:  0.7298387096774194
Root Mean Squared:  0.9941016969205004
Mean Squared Error:  1.1548387096774193
Mean Absolute Error:  0.43548387096774194

________________________________________________________________

Stations checked out of 113:  78
Bikestand Number:  110
Decision Tree
Accuracy:  0.8302419354838709
Root Mean Squared:  0.9890058171546559
Mean Squared Error:  0.4971774193548387
Mean Absolute Error:  0.21814516129032258


Stations checked out of 113:  78
Bikestand Number:  110
Random Forest
Accuracy:  0.8286290322580645
Root Mean Squared:  0.989130649725487
Mean Squared Error:  0.4915322580645161
Mean Absolute Error:  0.21975806451612903

________________________________________________________________

Stations checked out of 113:  79
Bikestand Number:  3
Decision Tree
Accuracy:  0.7004032258064516
Root Mean Squared:  0.9712435441478081
Mean Squared Error:  0.617741935483871
Mean Absolute Error:  0.3903225806451613


Stations checked out of 113:  79
Bikestand Number:  3
Random Forest
Accuracy:  0.692741935483871
Root Mean Squared:  0.9708493629644557
Mean Squared Error:  0.6262096774193548
Mean Absolute Error:  0.39798387096774196

________________________________________________________________

Stations checked out of 113:  80
Bikestand Number:  74
Decision Tree
Accuracy:  0.7653225806451613
Root Mean Squared:  0.9677151723081916
Mean Squared Error:  2.496774193548387
Mean Absolute Error:  0.425


Stations checked out of 113:  80
Bikestand Number:  74
Random Forest
Accuracy:  0.7665322580645161
Root Mean Squared:  0.9789356098393239
Mean Squared Error:  1.6290322580645162
Mean Absolute Error:  0.3959677419354839

________________________________________________________________

Stations checked out of 113:  81
Bikestand Number:  2
Decision Tree
Accuracy:  0.7729838709677419
Root Mean Squared:  0.9785387719121507
Mean Squared Error:  0.7060483870967742
Mean Absolute Error:  0.30766129032258066


Stations checked out of 113:  81
Bikestand Number:  2
Random Forest
Accuracy:  0.7733870967741936
Root Mean Squared:  0.9782201014779508
Mean Squared Error:  0.7165322580645161
Mean Absolute Error:  0.3165322580645161

________________________________________________________________

Stations checked out of 113:  82
Bikestand Number:  60
Decision Tree
Accuracy:  0.6407258064516129
Root Mean Squared:  0.9810110344373973
Mean Squared Error:  2.397983870967742
Mean Absolute Error:  0.6407258064516129


Stations checked out of 113:  82
Bikestand Number:  60
Random Forest
Accuracy:  0.6415322580645161
Root Mean Squared:  0.9797721377435534
Mean Squared Error:  2.5544354838709675
Mean Absolute Error:  0.6479838709677419

________________________________________________________________

Stations checked out of 113:  83
Bikestand Number:  105
Decision Tree
Accuracy:  0.9423387096774194
Root Mean Squared:  0.9909286501758305
Mean Squared Error:  0.16129032258064516
Mean Absolute Error:  0.075


Stations checked out of 113:  83
Bikestand Number:  105
Random Forest
Accuracy:  0.9431451612903226
Root Mean Squared:  0.9910873987977535
Mean Squared Error:  0.15846774193548388
Mean Absolute Error:  0.07379032258064516

________________________________________________________________

Stations checked out of 113:  84
Bikestand Number:  50
Decision Tree
Accuracy:  0.6818548387096774
Root Mean Squared:  0.9955161579872162
Mean Squared Error:  0.8701612903225806
Mean Absolute Error:  0.45161290322580644


Stations checked out of 113:  84
Bikestand Number:  50
Random Forest
Accuracy:  0.6810483870967742
Root Mean Squared:  0.995767568961983
Mean Squared Error:  0.8213709677419355
Mean Absolute Error:  0.44637096774193546

________________________________________________________________

Stations checked out of 113:  85
Bikestand Number:  40
Decision Tree
Accuracy:  0.6588709677419354
Root Mean Squared:  0.9788940077841528
Mean Squared Error:  0.9814516129032258
Mean Absolute Error:  0.5024193548387097


Stations checked out of 113:  85
Bikestand Number:  40
Random Forest
Accuracy:  0.6560483870967742
Root Mean Squared:  0.9784430991583418
Mean Squared Error:  1.0024193548387097
Mean Absolute Error:  0.5096774193548387

________________________________________________________________

Stations checked out of 113:  86
Bikestand Number:  111
Decision Tree
Accuracy:  0.6995967741935484
Root Mean Squared:  0.9911080525655387
Mean Squared Error:  1.3717741935483871
Mean Absolute Error:  0.4629032258064516


Stations checked out of 113:  86
Bikestand Number:  111
Random Forest
Accuracy:  0.6975806451612904
Root Mean Squared:  0.9908780433432481
Mean Squared Error:  1.407258064516129
Mean Absolute Error:  0.47096774193548385

________________________________________________________________

Stations checked out of 113:  87
Bikestand Number:  52
Decision Tree
Accuracy:  0.7032258064516129
Root Mean Squared:  0.9848407746273488
Mean Squared Error:  1.7548387096774194
Mean Absolute Error:  0.4830645161290323


Stations checked out of 113:  87
Bikestand Number:  52
Random Forest
Accuracy:  0.697983870967742
Root Mean Squared:  0.9871118718109353
Mean Squared Error:  1.4919354838709677
Mean Absolute Error:  0.48629032258064514

________________________________________________________________

Stations checked out of 113:  88
Bikestand Number:  108
Decision Tree
Accuracy:  0.8286290322580645
Root Mean Squared:  0.9905486972878895
Mean Squared Error:  0.4475806451612903
Mean Absolute Error:  0.22258064516129034


Stations checked out of 113:  88
Bikestand Number:  108
Random Forest
Accuracy:  0.8286290322580645
Root Mean Squared:  0.990684932281938
Mean Squared Error:  0.4411290322580645
Mean Absolute Error:  0.2217741935483871

________________________________________________________________

Stations checked out of 113:  89
Bikestand Number:  103
Decision Tree
Accuracy:  0.8838709677419355
Root Mean Squared:  0.9881135553949774
Mean Squared Error:  0.30806451612903224
Mean Absolute Error:  0.15483870967741936


Stations checked out of 113:  89
Bikestand Number:  103
Random Forest
Accuracy:  0.8786290322580645
Root Mean Squared:  0.9779540680558677
Mean Squared Error:  0.5713709677419355
Mean Absolute Error:  0.17298387096774193

________________________________________________________________

Stations checked out of 113:  90
Bikestand Number:  102
Decision Tree
Accuracy:  0.8407258064516129
Root Mean Squared:  0.9857679425264371
Mean Squared Error:  0.875
Mean Absolute Error:  0.24435483870967742


Stations checked out of 113:  90
Bikestand Number:  102
Random Forest
Accuracy:  0.8403225806451613
Root Mean Squared:  0.987073094340833
Mean Squared Error:  0.7947580645161291
Mean Absolute Error:  0.24153225806451614

________________________________________________________________

Stations checked out of 113:  91
Bikestand Number:  7
Decision Tree
Accuracy:  0.8068548387096774
Root Mean Squared:  0.9888877817058989
Mean Squared Error:  0.6887096774193548
Mean Absolute Error:  0.2862903225806452


Stations checked out of 113:  91
Bikestand Number:  7
Random Forest
Accuracy:  0.8048387096774193
Root Mean Squared:  0.9872222501583052
Mean Squared Error:  0.7919354838709678
Mean Absolute Error:  0.29758064516129035

________________________________________________________________

Stations checked out of 113:  92
Bikestand Number:  66
Decision Tree
Accuracy:  0.6423387096774194
Root Mean Squared:  0.9800378893147792
Mean Squared Error:  2.3254032258064514
Mean Absolute Error:  0.6673387096774194


Stations checked out of 113:  92
Bikestand Number:  66
Random Forest
Accuracy:  0.6379032258064516
Root Mean Squared:  0.9805155677046805
Mean Squared Error:  2.269758064516129
Mean Absolute Error:  0.6721774193548387

________________________________________________________________

Stations checked out of 113:  93
Bikestand Number:  6
Decision Tree
Accuracy:  0.7516129032258064
Root Mean Squared:  0.980299174488633
Mean Squared Error:  0.55
Mean Absolute Error:  0.33145161290322583


Stations checked out of 113:  93
Bikestand Number:  6
Random Forest
Accuracy:  0.7431451612903226
Root Mean Squared:  0.9793314653176202
Mean Squared Error:  0.5770161290322581
Mean Absolute Error:  0.3439516129032258

________________________________________________________________

Stations checked out of 113:  94
Bikestand Number:  5
Decision Tree
Accuracy:  0.567741935483871
Root Mean Squared:  0.958078449437199
Mean Squared Error:  5.578629032258065
Mean Absolute Error:  1.0673387096774194


Stations checked out of 113:  94
Bikestand Number:  5
Random Forest
Accuracy:  0.5641129032258064
Root Mean Squared:  0.9583693398494887
Mean Squared Error:  5.53991935483871
Mean Absolute Error:  1.0705645161290323

________________________________________________________________

Stations checked out of 113:  95
Bikestand Number:  114
Decision Tree
Accuracy:  0.7467741935483871
Root Mean Squared:  0.9861816102422307
Mean Squared Error:  2.221774193548387
Mean Absolute Error:  0.5169354838709678


Stations checked out of 113:  95
Bikestand Number:  114
Random Forest
Accuracy:  0.7443548387096774
Root Mean Squared:  0.9862718937324811
Mean Squared Error:  2.207258064516129
Mean Absolute Error:  0.5185483870967742

________________________________________________________________

Stations checked out of 113:  96
Bikestand Number:  104
Decision Tree
Accuracy:  0.9657258064516129
Root Mean Squared:  0.9928567833789467
Mean Squared Error:  0.1620967741935484
Mean Absolute Error:  0.050806451612903224


Stations checked out of 113:  96
Bikestand Number:  104
Random Forest
Accuracy:  0.9629032258064516
Root Mean Squared:  0.9937452431576846
Mean Squared Error:  0.14193548387096774
Mean Absolute Error:  0.05

________________________________________________________________

Stations checked out of 113:  97
Bikestand Number:  81
Decision Tree
Accuracy:  0.9217741935483871
Root Mean Squared:  0.9939272349032054
Mean Squared Error:  0.5604838709677419
Mean Absolute Error:  0.1314516129032258


Stations checked out of 113:  97
Bikestand Number:  81
Random Forest
Accuracy:  0.9205645161290322
Root Mean Squared:  0.9945257736213787
Mean Squared Error:  0.505241935483871
Mean Absolute Error:  0.13024193548387097

________________________________________________________________

Stations checked out of 113:  98
Bikestand Number:  68
Decision Tree
Accuracy:  0.5911290322580646
Root Mean Squared:  0.9797280450745993
Mean Squared Error:  3.571774193548387
Mean Absolute Error:  0.8596774193548387


Stations checked out of 113:  98
Bikestand Number:  68
Random Forest
Accuracy:  0.5887096774193549
Root Mean Squared:  0.9792749126434377
Mean Squared Error:  3.6516129032258067
Mean Absolute Error:  0.8758064516129033

________________________________________________________________

Stations checked out of 113:  99
Bikestand Number:  86
Decision Tree
Accuracy:  0.7455645161290323
Root Mean Squared:  0.993375144930016
Mean Squared Error:  1.166532258064516
Mean Absolute Error:  0.4213709677419355


Stations checked out of 113:  99
Bikestand Number:  86
Random Forest
Accuracy:  0.7431451612903226
Root Mean Squared:  0.9933934646122005
Mean Squared Error:  1.1633064516129032
Mean Absolute Error:  0.4221774193548387

________________________________________________________________

Stations checked out of 113:  100
Bikestand Number:  44
Decision Tree
Accuracy:  0.7435483870967742
Root Mean Squared:  0.9936365236684115
Mean Squared Error:  0.8721774193548387
Mean Absolute Error:  0.37459677419354837


Stations checked out of 113:  100
Bikestand Number:  44
Random Forest
Accuracy:  0.7399193548387096
Root Mean Squared:  0.9934217600196801
Mean Squared Error:  0.9016129032258065
Mean Absolute Error:  0.38387096774193546

________________________________________________________________

Stations checked out of 113:  101
Bikestand Number:  61
Decision Tree
Accuracy:  0.8165322580645161
Root Mean Squared:  0.972897798789251
Mean Squared Error:  1.0745967741935485
Mean Absolute Error:  0.28266129032258064


Stations checked out of 113:  101
Bikestand Number:  61
Random Forest
Accuracy:  0.8108870967741936
Root Mean Squared:  0.9719926971353086
Mean Squared Error:  1.110483870967742
Mean Absolute Error:  0.29274193548387095

________________________________________________________________

Stations checked out of 113:  102
Bikestand Number:  63
Decision Tree
Accuracy:  0.7314516129032258
Root Mean Squared:  0.9889078055501433
Mean Squared Error:  1.4850806451612903
Mean Absolute Error:  0.4350806451612903


Stations checked out of 113:  102
Bikestand Number:  63
Random Forest
Accuracy:  0.7370967741935484
Root Mean Squared:  0.9915521027879859
Mean Squared Error:  1.1310483870967742
Mean Absolute Error:  0.4189516129032258

________________________________________________________________

Stations checked out of 113:  103
Bikestand Number:  16
Decision Tree
Accuracy:  0.7326612903225806
Root Mean Squared:  0.9771076195630616
Mean Squared Error:  0.9604838709677419
Mean Absolute Error:  0.38870967741935486


Stations checked out of 113:  103
Bikestand Number:  16
Random Forest
Accuracy:  0.7314516129032258
Root Mean Squared:  0.9802118340387673
Mean Squared Error:  0.8302419354838709
Mean Absolute Error:  0.3810483870967742

________________________________________________________________

Stations checked out of 113:  104
Bikestand Number:  70
Decision Tree
Accuracy:  0.603225806451613
Root Mean Squared:  0.9713263880764037
Mean Squared Error:  2.0596774193548386
Mean Absolute Error:  0.7080645161290322


Stations checked out of 113:  104
Bikestand Number:  70
Random Forest
Accuracy:  0.5975806451612903
Root Mean Squared:  0.9740994429492025
Mean Squared Error:  1.860483870967742
Mean Absolute Error:  0.7064516129032258

________________________________________________________________

Stations checked out of 113:  105
Bikestand Number:  29
Decision Tree
Accuracy:  0.6725806451612903
Root Mean Squared:  0.9894981794392359
Mean Squared Error:  1.0798387096774194
Mean Absolute Error:  0.482258064516129


Stations checked out of 113:  105
Bikestand Number:  29
Random Forest
Accuracy:  0.6709677419354839
Root Mean Squared:  0.9894785718579052
Mean Squared Error:  1.0818548387096774
Mean Absolute Error:  0.48266129032258065

________________________________________________________________

Stations checked out of 113:  106
Bikestand Number:  75
Decision Tree
Accuracy:  0.7508064516129033
Root Mean Squared:  0.9905778759344681
Mean Squared Error:  0.9467741935483871
Mean Absolute Error:  0.37016129032258066


Stations checked out of 113:  106
Bikestand Number:  75
Random Forest
Accuracy:  0.7487903225806452
Root Mean Squared:  0.9904695295333739
Mean Squared Error:  0.9576612903225806
Mean Absolute Error:  0.37379032258064515

________________________________________________________________

Stations checked out of 113:  107
Bikestand Number:  80
Decision Tree
Accuracy:  0.7608870967741935
Root Mean Squared:  0.980520378121837
Mean Squared Error:  1.676209677419355
Mean Absolute Error:  0.4092741935483871


Stations checked out of 113:  107
Bikestand Number:  80
Random Forest
Accuracy:  0.7560483870967742
Root Mean Squared:  0.9788849708484477
Mean Squared Error:  1.8169354838709677
Mean Absolute Error:  0.4290322580645161

________________________________________________________________

Stations checked out of 113:  108
Bikestand Number:  39
Decision Tree
Accuracy:  0.6270161290322581
Root Mean Squared:  0.9657949276831385
Mean Squared Error:  1.0669354838709677
Mean Absolute Error:  0.5532258064516129


Stations checked out of 113:  108
Bikestand Number:  39
Random Forest
Accuracy:  0.6217741935483871
Root Mean Squared:  0.9643858751954069
Mean Squared Error:  1.1108870967741935
Mean Absolute Error:  0.5665322580645161

________________________________________________________________

Stations checked out of 113:  109
Bikestand Number:  42
Decision Tree
Accuracy:  0.6629032258064517
Root Mean Squared:  0.9919207950291686
Mean Squared Error:  0.8834677419354838
Mean Absolute Error:  0.4842741935483871


Stations checked out of 113:  109
Bikestand Number:  42
Random Forest
Accuracy:  0.6629032258064517
Root Mean Squared:  0.991703235424751
Mean Squared Error:  0.907258064516129
Mean Absolute Error:  0.48951612903225805

________________________________________________________________

Stations checked out of 113:  110
Bikestand Number:  26
Decision Tree
Accuracy:  0.7334677419354839
Root Mean Squared:  0.9841886145792565
Mean Squared Error:  0.7830645161290323
Mean Absolute Error:  0.38548387096774195


Stations checked out of 113:  110
Bikestand Number:  26
Random Forest
Accuracy:  0.7338709677419355
Root Mean Squared:  0.9844491523410813
Mean Squared Error:  0.7701612903225806
Mean Absolute Error:  0.38548387096774195

________________________________________________________________

Stations checked out of 113:  111
Bikestand Number:  69
Decision Tree
Accuracy:  0.584274193548387
Root Mean Squared:  0.9896913432408069
Mean Squared Error:  2.097983870967742
Mean Absolute Error:  0.7213709677419354


Stations checked out of 113:  111
Bikestand Number:  69
Random Forest
Accuracy:  0.582258064516129
Root Mean Squared:  0.9903590382874815
Mean Squared Error:  1.9620967741935484
Mean Absolute Error:  0.7209677419354839

________________________________________________________________

Stations checked out of 113:  112
Bikestand Number:  4
Decision Tree
Accuracy:  0.7850806451612903
Root Mean Squared:  0.969056881923545
Mean Squared Error:  0.42338709677419356
Mean Absolute Error:  0.2725806451612903


Stations checked out of 113:  112
Bikestand Number:  4
Random Forest
Accuracy:  0.7838709677419354
Root Mean Squared:  0.9683790802894893
Mean Squared Error:  0.43266129032258066
Mean Absolute Error:  0.2762096774193548

________________________________________________________________

Stations checked out of 113:  113
Bikestand Number:  79
Decision Tree
Accuracy:  0.8806451612903226
Root Mean Squared:  0.9715537498987274
Mean Squared Error:  1.2100806451612902
Mean Absolute Error:  0.2318548387096774


Stations checked out of 113:  113
Bikestand Number:  79
Random Forest
Accuracy:  0.8842741935483871
Root Mean Squared:  0.9716864548308893
Mean Squared Error:  1.2044354838709677
Mean Absolute Error:  0.22620967741935483

________________________________________________________________

### Upon analysing the accuracy measurements of the two data prediction models, it can be seen that they are extremely similar. However, the Decision Tree model is very slightly ahead in more tests than the Random Forest Model, and thus the Decision Tree model will be used.

In [80]:
df.head()

,Unnamed: 0,number,available_bikes_percentage,available_bikes,available_bike_stands,bikestands,last_update,weekday,overview,description,temperature,wind_speed,clouds
0,0,42,0.000000,0,30,30,1551108029000000000,2,Clouds,broken clouds,12.85,3.0,75.0
1,1,30,15.000000,3,17,20,1551108029000000000,2,Clouds,broken clouds,12.85,3.0,75.0
2,2,54,60.606061,20,13,33,1551108029000000000,2,Clouds,broken clouds,12.85,3.0,75.0
3,3,108,0.000000,0,40,40,1551108029000000000,2,Clouds,broken clouds,12.85,3.0,75.0
4,4,56,60.000000,24,16,40,1551108029000000000,2,Clouds,broken clouds,12.85,3.0,75.0

In [81]:
prediction = [1551108029000000000, 1, 1, 0, 12.85, 3, 75]

In [82]:
modelDict[42].predict([prediction])[0]

0

In [83]:
# Actual = 0, predicted = 0

In [84]:
modelDict[30].predict([prediction])[0]

4

In [85]:
# Actual = 3, predicted = 4

In [86]:
modelDict[54].predict([prediction])[0]

19

In [87]:
# Actual = 20, predicted = 19

In [88]:
modelDict[108].predict([prediction])[0]

0

In [89]:
# Actual = 0, predicted = 0

### Overall the model is quite accurate, far superior to using linear regression, and better than chance.

In [90]:
### Store the predictions in a pickle file

In [91]:
import pickle
ser = pickle.dumps(modelDict)

In [92]:
with open("data_model.pkl", "wb") as handle:
    pickle.dump(modelDict, handle, pickle.HIGHEST_PROTOCOL)